<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/base">
<head>
    <title>登录</title>
    <!-- custom input -->
</head>

<body >
<h1 layout:fragment="header" class="hidden">登录</h1>

<div layout:fragment="content" class="container" style="background:url('/ui/smarty/images/backgrounds/wall2.jpg')">
    <!-- SLIDE TOP -->
    <section >

        <div class="display-table">
            <div class="display-table-cell vertical-align-middle">

                <div class="container">

                    <div class="row">

                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 col-md-push-7 col-lg-push-8 col-sm-push-7">

                            <!-- ALERT -->
                            <!--
                            <div class="alert alert-mini alert-danger margin-bottom-30">
                                <strong>Oh snap!</strong> Login Incorrect!
                            </div>
                            -->
                            <!-- /ALERT -->

                            <!-- login form -->
                            <form action="/login" id="loginform" name="loginform" th:action="@{/login}" method="post" class="validate-plugin sky-form boxed">
                                <header><i class="fa fa-user fa-lg"></i> 登录系统</header>

                                <fieldset class="nomargin">
                                    <p th:if="${param.logout}" class="alert alert-success">You have been logged out</p>
                                    <!--TODO errormessage-->
                                    <p th:if="${param.error}" class="alert alert-danger" th:text="${session.errorMessage}">
                                        There was an error, please try again
                                    </p>

                                    <label class="label margin-top-20" for="username">Username</label>
                                    <label class="input">
                                        <i class="ico-append fa fa-user"></i>
                                        <input type="text" name="username" id="username" value=""
                                               placeholder="Username" minlength="4" required="true"/>
                                        <span class="tooltip tooltip-top-right">UserName</span>
                                    </label>

                                    <label for="password" class="label margin-top-20">Password</label>
                                    <label class="input">
                                        <i class="ico-append fa fa-lock"></i>
                                        <input type="password" name="password" id="password" value=""
                                               placeholder="Password" minlength="4" required="true"/>
                                        <b class="tooltip tooltip-top-right">Type your Password</b>
                                    </label>


                                    <label for="j_captcha" class="label margin-top-20">验证码</label>
                                    <label for="j_captcha" class="label margin-top-20">
                                        <img src="/captcha.jpg" id="kaptchaImage"  style="margin-bottom: -3px"/>
                                        <a href="#" onclick="changeCode()">看不清?换一张</a>
                                    </label>
                                    <label class="input">
                                        <i class="ico-append fa fa-lock"></i>
                                        <input type="text" name="j_captcha" id="j_captcha" value=""
                                               placeholder="验证码" minlength="4" required="true"/>
                                        <b class="tooltip tooltip-top-right">请输入验证码</b>
                                    </label>

                                    <label class="checkbox margin-top-20">
                                        <input id="remember-me" name="remember-me" type="checkbox" value="true"/>
                                        <i></i> Keep me logged in
                                    </label>
                                </fieldset>

                                <footer class="celarfix">
                                    <button type="submit" onclick="$('#loginform').validate().form()" class="btn btn-primary noradius pull-right"><i
                                            class="fa fa-check"></i> OK, LOG IN
                                    </button>
                                    <!--<div class="login-forgot-password pull-left">-->
                                        <!--<a href="page-password.html">Forgot password?</a>-->
                                    <!--</div>-->
                                </footer>
                            </form>
                            <!-- /login form -->

                            <div class="socials margin-top10 text-center"><!-- more buttons: ui-buttons.html -->
                                <a href="#" class="social-icon social-facebook" data-toggle="tooltip"
                                   data-placement="top" title="Facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="#" class="social-icon social-twitter" data-toggle="tooltip"
                                   data-placement="top" title="Twitter">
                                    <i class="icon-twitter"></i>
                                    <i class="icon-twitter"></i>
                                </a>
                                <a href="#" class="social-icon social-google" data-toggle="tooltip" data-placement="top"
                                   title="Google">
                                    <i class="icon-google-plus"></i>
                                    <i class="icon-google-plus"></i>
                                </a>

                            </div>

                        </div>

                        <div class="col-xs-12 col-md-7 col-sm-7 col-lg-8 col-lg-pull-4 col-md-pull-5 col-sm-pull-5">


                            <h2 class="size-30 text-center-xs">支持系统</h2>

                            <p>欢迎使用支持服务系统，该系统前端集成Bootstrap3前端CSS框架,Jquery轻量级JS库，并使用多项基于此二者之上的开源开发库。</p>
                            <p>后端采用Spring Boot为基础框架，使用Thymeleaf、FreeMarker模板引擎进行渲染，其他开源工具还包括:</p>

                            <ul class="list-unstyled login-features">
                                <li><i class="glyphicon glyphicon-road"></i> <strong>Lucene 5</strong> 全文检索引擎</li>
                                <li><i class="glyphicon glyphicon-cog"></i> <strong>Quartz 2</strong> 作业调度框架 </li>
                                <li><i class="glyphicon glyphicon-tint"></i> <strong>Uditor 1.4</strong> 百度富文本编辑器 </li>
                                <li><i class="glyphicon glyphicon-screenshot"></i> <strong>Spring Security 4</strong> 安全认证服务框架 </li>
                                <li><i class="glyphicon glyphicon-fire"></i> <strong>Hibernate 3</strong> 对象关系映射框架 </li>
                            </ul>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </section>
    <!-- /SLIDE TOP -->
    <script type="text/javascript">
        $(function(){  //生成验证码
            $('#kaptchaImage').click(function () {
                $(this).hide().attr('src', '/captcha.jpg?' + Math.floor(Math.random()*500) ).fadeIn(); });
        });
        function changeCode() {  //刷新
            $('#kaptchaImage').hide().attr('src', '/captcha.jpg?' + Math.floor(Math.random()*500) ).fadeIn();
            event.cancelBubble=true;
        }
    </script>
</div>
</body>
</html>
