<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/ui/smarty/admin/css/layout.css" rel="stylesheet" type="text/css"/>

</head>
<body><!--
				MIDDLE
			-->
<section id="middle" th:fragment="middle">


    <!-- page title -->
    <header id="page-header">
        <h1>Message管理</h1>
        <ol class="breadcrumb">
            <li><a href="#">系统管理</a></li>
            <li>信息发布管理</li>
            <li class="active">Message管理</li>
        </ol>
    </header>
    <!-- /page title -->

    <div id="panel-misc-portlet-r2" class="panel panel-default">

        <div class="panel-heading">

            <!-- tabs nav -->
            <ul class="nav nav-tabs pull-left">
                <li class="active"><!-- TAB 1 -->
                    <a href="#ttab1l_nobg" data-toggle="tab" aria-expanded="false"> 新建群发公告
                        <span class="label label-danger">label</span></a>
                </li>
            </ul>
            <!-- /tabs nav -->

            &nbsp; <!-- needed if title missing . avoid using .clearfix -->

            <!-- right options -->
            <ul class="options pull-right list-inline">
                <li class=""><a href="#" class="opt panel_colapse" data-toggle="tooltip" title=""
                                data-placement="bottom" data-original-title="Colapse"></a></li>
                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title=""
                       data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand"></i></a></li>
            </ul>
            <!-- /right options -->

        </div>

        <!-- panel content -->
        <div class="panel-body" style="display: block;">

            <!-- tabs content -->
            <div class="tab-content transparent">

                <div id="ttab1l_nobg" class="tab-pane active"><!-- TAB 1 CONTENT -->
                    <div class="row form-group">
                        <form id="createNewsPageForm" action="/admin/message_ajax?action=add" method="post"
                              class="validate-plugin sky-form boxed"
                              th:action="@{/admin/message_ajax?action=add}" th:object="${msg}">
                            <header><i class="fa fa-users"></i> 新建群发公告
                                <small class="note bold">慎重</small>
                            </header>

                            <fieldset>
                                <label class="input">
                                    <i class="icon-append fa fa-key"></i>
                                    <input type="text" th:field="*{title}"
                                           placeholder="新闻标题" minlength="2" required="true" class="form-control "/>
                                    <b class="tooltip tooltip-bottom-right">输入公告标题</b>
                                </label>
                                <label class="input">
                                    <i class="icon-append fa fa-key"></i>
                                    <textarea th:field="*{content}"  class="summernote form-control required" data-height="400" data-lang="en-US">新闻公告内容</textarea>
                                    <b class="tooltip tooltip-bottom-right">输入公告内容</b>
                                </label>

                            </fieldset>

                            <footer>
                                <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-check"></i>
                                    确认新建
                                </button>
                            </footer>

                        </form>
                    </div>
                </div><!-- /TAB 1 CONTENT -->

            </div>
            <!-- /tabs content -->

        </div>
        <!-- /panel content -->
        <div class="modal fade " tabindex="-1" id="ajax" role="basic" aria-hidden="true">
            <div class="modal-dialog  modal-full">
                <div class="modal-content">


                </div>
            </div>
        </div>

        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <h4>Text in a modal</h4>

                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        //必须重新初始化，否则不起作用
        jQuery(window).ready(function () {
            Init(true);
            initCreate();

            //不注册则不重新加载
            $('.modal').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
//                $(this).empty();
            })
        });



        function initCreate() {
            if (jQuery().validate) {


                jQuery('form.validate-plugin').each(function () {

                    var _t = jQuery(this),
                            _Tposition = _t.attr('data-toastr-position') || "top-full-width";
                    _Turl = _t.attr('data-toastr-url') || false;

//                    toastr.options = {
//                        "timeOut": "10000",
//                        "progressBar": true,
//                    }

                    // Append 'is_ajax' hidden input field!
                    _t.append('<input type="hidden" name="is_ajax" value="true" />');

                    _t.validate({
                        submitHandler: function (form) {


                            jQuery(form).ajaxSubmit({

                                target: jQuery(form).find('.validate-result').length > 0 ? jQuery(form).find('.validate-result') : '',

                                error: function (data) {
                                    _toastr("Sent Failed!", _Tposition, "error", false);
                                },

                                success: function (data, textStatus) {

//                                var data = data.trim();
//                                    console.log(textStatus);


                                    if (typeof(data.error) === "undefined"&&data.status === "success") {
                                        _toastr(data.msg, "top-center", "success", "#");
                                        // Clear the form
                                        jQuery(form).find('input.form-control').val('');
                                    } else {
                                        _toastr(data.msg, _Tposition, "error", false);
                                    }

                                }
                            });

                        }
                    });

                });

            }
        }

        /*]]>*/
    </script>
    <link href="/ui/smarty/css/layout-datatables.css" rel="stylesheet" type="text/css"/>

</section>
<!-- /MIDDLE -->
</body>
</html>