<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/ui/smarty/admin/css/layout.css" rel="stylesheet" type="text/css" />

</head>
<body><!--
				MIDDLE
			-->
<section id="middle" th:fragment="middle">


    <!-- page title -->
    <header id="page-header">
        <h1>User Profile</h1>
        <ol class="breadcrumb">
            <li><a href="#">Pages</a></li>
            <li class="active">User Profile</li>
        </ol>
    </header>
    <!-- /page title -->


    <div id="content" class="padding-20">

        <div class="page-profile">

            <div class="row">

                <!-- COL 1 -->
                <div class="col-md-4 col-lg-3">
                    <section class="panel">
                        <div class="panel-body noradius padding-10">

                            <figure class="margin-bottom-10"><!-- image -->
                                <img class="img-responsive" src="assets/images/demo/9_full.jpg" alt=""/>
                            </figure><!-- /image -->

                            <!-- progress bar -->
                            <h6 class="progress-head">Profile Completion <span class="pull-right">60%</span></h6>
                            <div class="progress progress-xs">
                                <div class="progress-bar" role="progressbar" style="width: 60%;"></div>
                            </div><!-- /progress bar -->

                            <!-- updated -->
                            <ul class="list-unstyled size-13">
                                <li class="text-gray"><i class="fa fa-check"></i> Update Your Birthday</li>
                                <li class="text-gray"><i class="fa fa-check"></i> Update Profile Picture</li>
                                <li>Confirm Your Account</li>
                                <li>Update Your Address</li>
                            </ul><!-- /updated -->

                            <hr class="half-margins"/>

                            <!-- About -->
                            <h3 class="text-black">
                                Melisa Doe
                                <small class="text-gray size-14"> / CEO</small>
                            </h3>
                            <p class="size-12">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                nonummy nibh euismod tincidunt laoreet dolore magna aliquam tincidunt erat volutpat
                                laoreet dolore magna aliquam tincidunt erat volutpat.</p>
                            <!-- /About -->

                            <hr class="half-margins"/>

                            <!-- Social -->
                            <h6>Follow Me</h6>
                            <a href="#" class="btn ico-only btn-facebook btn-xs" title="Facebook"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="#" class="btn ico-only btn-twitter btn-xs" title="Twitter"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="#" class="btn ico-only btn-google-plus btn-xs" title="Google plus"><i
                                    class="fa fa-google-plus"></i></a>
                            <a href="#" class="btn ico-only btn-linkedin btn-xs" title="Linked In"><i
                                    class="fa fa-linkedin"></i></a>
                            <a href="#" class="btn ico-only btn-pinterest btn-xs" title="Pinterest"><i
                                    class="fa fa-pinterest"></i></a>
                            <a href="#" class="btn ico-only btn-flickr btn-xs" title="Flickr"><i
                                    class="fa fa-flickr"></i></a>
                            <a href="#" class="btn ico-only btn-tumblr btn-xs" title="Tumblr"><i
                                    class="fa fa-tumblr"></i></a>
                            <a href="#" class="btn ico-only btn-skype btn-xs" title="Skype"><i class="fa fa-skype"></i></a>
                            <a href="#" class="btn ico-only btn-stackoverflow btn-xs" title="Stack Overflow"><i
                                    class="fa fa-stack-overflow"></i></a>
                            <a href="#" class="btn ico-only btn-instagram btn-xs" title="Instagram"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="#" class="btn ico-only btn-dribbble btn-xs" title="Dribble"><i
                                    class="fa fa-dribbble"></i></a>
                            <a href="#" class="btn ico-only btn-youtube btn-xs" title="Youtube"><i
                                    class="fa fa-youtube"></i></a>
                            <a href="#" class="btn ico-only btn-vimeo btn-xs" title="Vimeo"><i
                                    class="fa fa-vimeo-square"></i></a>
                            <a href="#" class="btn ico-only btn-rss btn-xs" title="Rss"><i class="fa fa-rss"></i></a>
                            <!-- /Social -->

                        </div>
                    </section>
                </div><!-- /COL 1 -->

                <!-- COL 2 -->
                <div class="col-md-8 col-lg-6">

                    <div class="tabs white nomargin-top">
                        <ul class="nav nav-tabs tabs-primary">
                            <li class="active">
                                <a href="#overview" data-toggle="tab">Overview</a>
                            </li>
                            <li>
                                <a href="#edit" data-toggle="tab">Edit</a>
                            </li>
                        </ul>

                        <div class="tab-content">

                            <!-- Overview -->
                            <div id="overview" class="tab-pane active">

                                <form class="well">
                                    <textarea rows="2" class="form-control"
                                              placeholder="What's on your mind?"></textarea>

                                    <div class="margin-top-10">
                                        <button type="submit" class="btn btn-sm btn-primary pull-right">Post</button>
                                        <a href="#" class="btn btn-link profile-btn-link" data-toggle="tooltip"
                                           data-placement="bottom" title="Add a Location"><i
                                                class="fa fa-map-marker"></i></a>
                                        <a href="#" class="btn btn-link profile-btn-link" data-toggle="tooltip"
                                           data-placement="bottom" title="Add Photo"><i class="fa fa-camera"></i></a>
                                        <a href="#" class="btn btn-link profile-btn-link" data-toggle="tooltip"
                                           data-placement="bottom" title="Add File"><i class="fa fa-file"></i></a>
                                    </div>
                                </form>

                                <hr class="invisible half-margins"/>

                                <!-- COMMENT -->
                                <ul class="comment list-unstyled">
                                    <li class="comment">

                                        <!-- avatar -->
                                        <img class="avatar" src="assets/images/demo/thumb/small3.jpg" width="50"
                                             height="50" alt="avatar"/>

                                        <!-- comment body -->
                                        <div class="comment-body">
                                            <a href="#" class="comment-author">
                                                <small class="text-muted pull-right"> 12 Minutes ago</small>
                                                <span>Melisa Doe</span>
                                            </a>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                                nonummy nibh
                                                euismod tincidunt laoreet dolore magna aliquam tincidunt erat volutpat
                                                laoreet
                                                dolore magna aliquam tincidunt erat volutpat.
                                            </p>
                                        </div><!-- /comment body -->

                                        <!-- options -->
                                        <ul class="list-inline size-11 margin-top-10">
                                            <li>
                                                <a href="#" class="text-info"><i class="fa fa-reply"></i> Reply</a>
                                            </li>
                                            <li>
                                                <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i>
                                                    Like</a>
                                            </li>
                                            <li>
                                                <a href="#" class="text-muted">Show All Comments (36)</a>
                                            </li>
                                            <li class="pull-right">
                                                <a href="#" class="text-danger">Delete</a>
                                            </li>
                                            <li class="pull-right">
                                                <a href="#" class="text-primary">Edit</a>
                                            </li>
                                        </ul>
                                    </li><!-- /options -->

                                    <li class="comment comment-reply">

                                        <!-- avatar -->
                                        <img class="avatar" src="assets/images/demo/thumb/small1.jpg" width="35"
                                             height="35" alt="avatar"/>

                                        <!-- comment body -->
                                        <div class="comment-body">
                                            <a href="#" class="comment-author">
                                                <small class="text-muted pull-right"> 4 Minutes ago</small>
                                                <span>Ioana Doe</span>
                                            </a>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                                nonummy! <i class="fa fa-smile-o green"></i>
                                            </p>
                                        </div><!-- /comment body -->

                                        <!-- options -->
                                        <ul class="list-inline size-11">
                                            <li>
                                                <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i>
                                                    Like</a>
                                            </li>
                                            <li class="pull-right">
                                                <a href="#" class="text-danger">Delete</a>
                                            </li>
                                            <li class="pull-right">
                                                <a href="#" class="text-primary">Edit</a>
                                            </li>
                                        </ul><!-- /options -->

                                    </li>

                                    <li class="comment comment-reply">

                                        <!-- avatar -->
                                        <img class="avatar" src="assets/images/demo/thumb/small2.jpg" width="35"
                                             height="35" alt="avatar"/>

                                        <!-- comment body -->
                                        <div class="comment-body">
                                            <a href="#" class="comment-author">
                                                <small class="text-muted pull-right"> a moment ago</small>
                                                <span>Simona Doe</span>
                                            </a>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                                nonummy! <i class="fa fa-smile-o green"></i>
                                            </p>
                                        </div><!-- /comment body -->

                                        <!-- options -->
                                        <ul class="list-inline size-11">
                                            <li>
                                                <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i>
                                                    Like</a>
                                            </li>
                                            <li class="pull-right">
                                                <a href="#" class="text-danger">Delete</a>
                                            </li>
                                            <li class="pull-right">
                                                <a href="#" class="text-primary">Edit</a>
                                            </li>
                                        </ul><!-- /options -->

                                    </li>
                                </ul>
                                <!-- /COMMENT -->

                                <!-- COMMENT -->
                                <ul class="comment list-unstyled">
                                    <li class="comment">

                                        <!-- avatar -->
                                        <img class="avatar" src="assets/images/demo/thumb/small4.jpg" width="50"
                                             height="50" alt="avatar"/>

                                        <!-- comment body -->
                                        <div class="comment-body">
                                            <a href="#" class="comment-author">
                                                <small class="text-muted pull-right"> 12 Minutes ago</small>
                                                <span>Melisa Doe</span>
                                            </a>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                                nonummy nibh
                                                euismod tincidunt laoreet dolore magna aliquam tincidunt erat volutpat
                                                laoreet
                                                dolore magna aliquam tincidunt erat volutpat.
                                            </p>
                                        </div><!-- /comment body -->

                                        <!-- options -->
                                        <ul class="list-inline size-11 margin-top-10">
                                            <li>
                                                <a href="#" class="text-info"><i class="fa fa-reply"></i> Reply</a>
                                            </li>
                                            <li>
                                                <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i>
                                                    Like</a>
                                            </li>
                                            <li class="pull-right">
                                                <a href="#" class="text-danger">Delete</a>
                                            </li>
                                            <li class="pull-right">
                                                <a href="#" class="text-primary">Edit</a>
                                            </li>
                                        </ul>
                                    </li><!-- /options -->

                                    <li class="comment comment-reply">

                                        <!-- avatar -->
                                        <img class="avatar" src="assets/images/demo/thumb/small3.jpg" width="35"
                                             height="35" alt="avatar"/>

                                        <!-- comment body -->
                                        <div class="comment-body">
                                            <a href="#" class="comment-author">
                                                <small class="text-muted pull-right"> 4 Minutes ago</small>
                                                <span>Ioana Doe</span>
                                            </a>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                                nonummy! <i class="fa fa-smile-o green"></i>
                                            </p>
                                        </div><!-- /comment body -->

                                        <!-- options -->
                                        <ul class="list-inline size-11">
                                            <li>
                                                <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i>
                                                    Like</a>
                                            </li>
                                            <li class="pull-right">
                                                <a href="#" class="text-danger">Delete</a>
                                            </li>
                                            <li class="pull-right">
                                                <a href="#" class="text-primary">Edit</a>
                                            </li>
                                        </ul><!-- /options -->

                                    </li>

                                    <li class="comment comment-reply">

                                        <!-- avatar -->
                                        <img class="avatar" src="assets/images/demo/thumb/small5.jpg" width="35"
                                             height="35" alt="avatar"/>

                                        <!-- comment body -->
                                        <div class="comment-body">
                                            <a href="#" class="comment-author">
                                                <small class="text-muted pull-right"> a moment ago</small>
                                                <span>Simona Doe</span>
                                            </a>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                                nonummy! <i class="fa fa-smile-o green"></i>
                                            </p>
                                        </div><!-- /comment body -->

                                        <!-- options -->
                                        <ul class="list-inline size-11">
                                            <li>
                                                <a href="#" class="text-success"><i class="fa fa-thumbs-up"></i>
                                                    Like</a>
                                            </li>
                                            <li class="pull-right">
                                                <a href="#" class="text-danger">Delete</a>
                                            </li>
                                            <li class="pull-right">
                                                <a href="#" class="text-primary">Edit</a>
                                            </li>
                                        </ul><!-- /options -->

                                    </li>
                                    <li>
                                        <div class="input-group">
                                            <input id="btn-input" type="text" class="form-control"
                                                   placeholder="Type your message..."/>
														<span class="input-group-btn">
															<button class="btn btn-primary" id="btn-chat">
                                                                <i class="fa fa-reply"></i> Reply
                                                            </button>
														</span>
                                        </div>
                                    </li>
                                </ul>
                                <!-- /COMMENT -->

                            </div>

                            <!-- Edit -->
                            <div id="edit" class="tab-pane">

                                <form class="form-horizontal" method="get">
                                    <h4>Personal Information</h4>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="profileFirstName">First
                                                Name</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" id="profileFirstName"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="profileLastName">Last
                                                Name</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" id="profileLastName"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="profileAddress">Address</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" id="profileAddress"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="profileCompany">Company</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" id="profileCompany"/>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <hr/>

                                    <h4>About</h4>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">Public Profile</label>
                                            <div class="col-md-8">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="1" checked="checked"
                                                           id="profilePublic"/>
                                                    <i></i> Checkbox 1
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="profileBio">Biographical
                                                Info</label>
                                            <div class="col-md-8">
                                                <textarea class="form-control" rows="3" id="profileBio"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="sky-form">
                                                <label class="col-xs-3 control-label">Profile Image</label>
                                                <div class="col-md-8">
                                                    <label for="file" class="input input-file">
                                                        <div class="button">
                                                            <input type="file" id="file"
                                                                   onchange="this.parentNode.nextSibling.value = this.value"/>Browse
                                                        </div>
                                                        <input type="text" readonly="true"/>
                                                    </label>
                                                    <a href="#" class="btn btn-danger btn-xs nomargin"><i
                                                            class="fa fa-times"></i> Remove Current Image</a>
                                                </div>
                                            </div>
                                        </div>


                                    </fieldset>

                                    <hr/>

                                    <h4>Change Password</h4>
                                    <fieldset class="mb-xl">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="profileNewPassword">New
                                                Password</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" id="profileNewPassword"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="profileNewPasswordRepeat">Repeat
                                                New Password</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" id="profileNewPasswordRepeat"/>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <div class="row">
                                        <div class="col-md-9 col-md-offset-3">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                            <button type="reset" class="btn btn-default">Reset</button>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>

                </div><!-- /COL 2 -->

                <!-- COL 3 -->
                <div class="col-md-12 col-lg-3">

                    <!-- projects -->
                    <section class="panel panel-default">
                        <header class="panel-heading">
                            <h2 class="panel-title elipsis">
                                <i class="fa fa-rss"></i> Projects
                            </h2>
                        </header>

                        <div class="panel-body noradius padding-10">

                            <ul class="bullet-list list-unstyled">
                                <li class="red">
                                    <h3>Epona HTML5 Template</h3>
                                    <span class="text-gray size-12">Lorem ipsum dolor sit amet, consectetuer adipiscing </span>
                                </li>
                                <li class="green">
                                    <h3>Atropos Template</h3>
                                    <span class="text-gray size-12">Lorem ipsum dolor sit amet, consectetuer adipiscing </span>
                                </li>
                                <li class="blue">
                                    <h3>isisone Template</h3>
                                    <span class="text-gray size-12">Lorem ipsum dolor sit amet, consectetuer adipiscing </span>
                                </li>
                                <li class="orange">
                                    <h3>Deusone Template</h3>
                                    <span class="text-gray size-12">Lorem ipsum dolor sit amet, consectetuer adipiscing </span>
                                </li>
                            </ul>

                        </div>

                    </section>
                    <!-- /projects -->

                    <!-- activity -->
                    <section class="panel panel-default">
                        <header class="panel-heading">
                            <h2 class="panel-title elipsis">
                                <i class="fa fa-rss"></i> Activity
                            </h2>
                        </header>

                        <div class="panel-body noradius padding-10">

                            <!-- activity list -->
                            <div class="row profile-activity">

                                <!-- activity item -->
                                <div class="col-xs-2 col-sm-1">
                                    <time datetime="2014-06-29" class="datebox">
                                        <strong>Jun</strong>
                                        <span>29</span>
                                    </time>
                                </div>

                                <div class="col-xs-10 col-sm-11">
                                    <h6><a href="page-sidebar.html">Lorem ipsum dolor sit amet</a></h6>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                        euismod
                                        tincidunt laoreet dolore magna aliquam tincidunt erat volutpat laoreet dolore
                                        magna aliquam
                                        tincidunt erat volutpat.
                                    </p>
                                </div>
                                <!-- /activity item -->

                                <div class="col-sm-12">
                                    <hr class="half-margins"/>
                                </div><!-- /activity separator -->

                                <!-- activity item -->
                                <div class="col-xs-2 col-sm-1">
                                    <time datetime="2014-06-29" class="datebox">
                                        <strong>Jun</strong>
                                        <span>29</span>
                                    </time>
                                </div>

                                <div class="col-xs-10 col-sm-11">
                                    <h6><a href="page-sidebar.html">Sed diam nonummy nibh euismod</a></h6>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                        euismod
                                        tincidunt laoreet dolore magna aliquam tincidunt erat volutpat laoreet dolore
                                        magna aliquam
                                        tincidunt erat volutpat.
                                    </p>
                                </div>
                                <!-- /activity item -->

                                <div class="col-sm-12">
                                    <hr class="half-margins"/>
                                </div><!-- /activity separator -->

                                <!-- paginatoin -->
                                <div class="text-center">
                                    <ul class="pagination pagination-sm">
                                        <li class="disabled"><a href="#">Prev</a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">Next</a></li>
                                    </ul>
                                </div>
                                <!-- /paginatoin -->

                            </div>
                            <!-- /activity list -->

                        </div>
                    </section>
                    <!-- /activity -->

                </div><!-- /COL 3 -->

            </div>

        </div>

    </div>

</section>
<!-- /MIDDLE -->
</body>
</html>