<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<section class="info-bar info-bar-clean">
    <div class="container">

        <div class="row">

            <div class="col-sm-4">
                <i class="glyphicon glyphicon-globe"></i>
                <h3>FULLY RESPONSIVE</h3>
                <p>Smarty Template is fully responsive</p>
            </div>

            <div class="col-sm-4">
                <i class="glyphicon glyphicon-usd"></i>
                <h3>ADMIN INCLUDED</h3>
                <p>Smarty Template include admin</p>
            </div>

            <div class="col-sm-4">
                <i class="glyphicon glyphicon-flag"></i>
                <h3>ONLINE SUPPORT 24/7</h3>
                <p>Free support via email</p>
            </div>

        </div>

    </div>
</section>


<!-- FOOTER navbar-fixed-bottom -->
<footer th:fragment="footer" id="footer" class="footer footer-fixed">
    <div class="copyright">
        <div class="container ">
            &copy;2015-2016 Design&amp;Coded by Moses, All Rights Reserved.
            <ul class="pull-right nomargin list-inline mobile-block">
                <li><a href="#">Terms &amp; Conditions</a></li>
                <li>&bull;</li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- /FOOTER -->
</body>
</html>