<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>


<!-- SEARCH HEADER -->
<div th:fragment="searchHeader" class="search-box over-header">
    <a id="closeSearch" href="#" class="glyphicon glyphicon-remove"></a>

    <form action="page-search-result-1.html" method="get">
        <input type="text" class="form-control" placeholder="SEARCH"/>
    </form>
</div>
<!-- /SEARCH HEADER -->

<!-- TOP NAV -->
<header th:fragment="topNav" id="topNav">
    <div class="container">



        <!-- Mobile Menu Button -->
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
        </button>

        <!-- BUTTONS -->
        <ul class="pull-right nav nav-pills nav-second-main">
            <li sec:authorize="hasRole('ROLE_USER')">
                <a class="dropdown-toggle no-text-underline" data-toggle="dropdown" href="#">
                    <i class="fa fa-user hidden-xs"></i>
                    <span class="badge badge-aqua btn-xs badge-corner">2</span>
                    <strong sec:authentication="name">John Doe</strong>
                </a>
                <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#" th:href="@{/admin}"><i class="fa fa-gears"></i> 管理配置</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" href="#"><i class="fa fa-bookmark"></i> test-1</a></li>
                    <li><a tabindex="-1" href="#"><i class="fa fa-edit"></i> test-2</a></li>
                    <li><a tabindex="-1" href="#"><i class="fa fa-cog"></i> test-3</a></li>
                    <li class="divider"></li>

                    <form th:action="@{/logout}" name="logoutform" method="post">
                        <li><a tabindex="-1" href="#" onclick="logoutform.submit()"><i class="fa fa-power-off "></i>
                            退出登录</a></li>
                    </form>
                </ul>
            </li>
            <li th:if="${#authentication==null || #authentication.name == 'anonymousUser'}"><a href="/login"
                                                                                               th:href="@{/login}">登录</a>
            </li>

            <!-- SEARCH -->
            <li class="search">
                <a href="javascript:;">
                    <i class="fa fa-search"></i>
                </a>
            </li>
            <!-- /SEARCH -->

        </ul>
        <!-- /BUTTONS -->


        <!-- Logo -->
        <!-- //TODO 改LOGO-->
        <a class="logo pull-left" href="index.html">
            <img src="/images/smarty.png" alt=""/>
        </a>


        <!--  Top Nav -->
        <div class="navbar-collapse pull-right nav-main-collapse collapse ">
            <nav class="nav-main">
                <ul id="topMain" class="nav nav-pills nav-main">
                    <li class="dropdown">
                        <a href="#" th:href="@{/}"><span class="fa fa-home"></span>主页</a>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#">问题提交</a>
                        <ul class="dropdown-menu">
                            <li><a  href="/ticket" th:href="@{/ticket}">新问题</a></li>
                            <li><a  href="/faqlist" th:href="@{/ticketlist}">所提问题查看--这里应该有权限管理</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#">支持信息库</a>
                        <ul class="dropdown-menu">
                            <li><a  href="/faq" th:href="@{/faq}">发布新信息</a></li>
                            <li><a  href="/faqlist" th:href="@{/faqlist}">信息列表查看</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#">支持工具</a>
                        <ul class="dropdown-menu">
                            <li><a  href="/tools" th:href="@{/tools}">工具汇总</a></li>
                            <li><a  href="/tools/unitconv" th:href="@{/tools/unitconv}">单位转换工具</a></li>
                            <li><a  href="/tools/formula/vacuum" th:href="@{/tools/formula/vacuum}">压差法数据计算工具</a></li>
                            <li><a  href="/tools/OCR" th:href="@{/tools/formula/vacuum}">OCR工具</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#">测试</a>
                        <ul class="dropdown-menu">
                            <li><a href="/msg" th:href="@{/msg}">Message List</a></li>
                            <li class="dropdown">
                                <a href="/editor" th:href="@{/editor}">Editor</a>
                            </li>
                            <li><a href="/lucene" th:href="@{/lucene}"><i
                                    class="et-browser"></i>Lucene</a></li>
                            <li><a href="#">User interface</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#">
                                    sublist test
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Gallery images</a></li>
                                    <li><a href="#">OneByOne Slider</a></li>
                                    <li><a href="#">Audio Player</a></li>
                                    <li><a href="#">Video Player</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>


                </ul>

            </nav>
        </div>

    </div>
</header>
<!-- /Top Nav -->

</body>
</html>