<!--
  ~ Copyright (c) 2010-2016.  by Moses   All rights reserved.
  ~
  -->

<!-- Logback configuration. See http://logback.qos.ch/manual/index.html -->
<configuration debug="false" scan="false" scanPeriod="10 seconds">
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->

    <!--<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>-->
    <!-- Simple file output -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- encoder defaults to ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %-60.60logger{59} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}
            </pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily 配置日志所生成的目录以及生成文件名的规则 -->
            <!-- 按天来回滚，如果需要按小时来回滚，则设置为{yyyy-MM-dd_HH} -->
            <fileNamePattern>../../log/mylog-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 如果按天来回滚，则最大保存时间为30天，30天之前的都将被清理掉 -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>200MB</totalSizeCap>
        </rollingPolicy>


        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <!-- Safely log to the same file from multiple JVMs. Degrades performance! -->
        <!-- 支持多JVM同时操作同一个日志文件 -->
        <prudent>true</prudent>
    </appender>


    <property name="NORMALLEVEL" value="WARN"/>

    <!-- Console output -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                <!--%clr(%d{yyyy-MM-dd HH:mm:ss}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(-){faint}%clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}-->
                <!--%clr(%d{MM-dd HH:mm:ss}){faint}%clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta}%clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}-->
                %clr(%d{MM-dd HH:mm:ss}){faint}%clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}
            </pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
    </appender>


    <!--======================================================= logger =======================================================-->
    <logger name="ch.qos.logback.classic.joran" level="WARN"/>
    <logger name="org.jboss.logging" level="${NORMALLEVEL}"/>
    <!--======================================================= net.liuxuan =======================================================-->
    <logger name="net.liuxuan.spring.security.dynamical" level="INFO"/>
    <logger name="net.liuxuan" level="TRACE"/>
    <logger name="net.liuxuan.spring" level="TRACE"/>
    <!--======================================================= hibernate =======================================================-->
    <logger name="org.hibernate.tool.hbm2ddl.TableMetadata" level="WARN"/>
    <logger name="org.hibernate" level="${NORMALLEVEL}"/>
    <!--======================================================= druid =======================================================-->
    <logger name="druid.sql" level="${NORMALLEVEL}"/>
    <!--======================================================= thymeleaf =======================================================-->
    <logger name="org.thymeleaf" level="${NORMALLEVEL}"/>
    <logger name="nz.net.ultraq.thymeleaf" level="${NORMALLEVEL}"/>
    <logger name="com.github.dandelion" level="${NORMALLEVEL}"/>
    <!--======================================================= quartz =======================================================-->
    <logger name="org.quartz" level="${NORMALLEVEL}"/>

    <!--======================================================= mail =======================================================-->
    <logger name="com.sun.mail.smtp" level="DEBUG"/>
    <!--======================================================= tomcat =======================================================-->
    <logger name="org.apache" level="${NORMALLEVEL}"/>
    <!--
        &lt;!&ndash;URLinfo  set to Debug if you want to show&ndash;&gt;
        <logger name="org.apache.commons.beanutils" level="INFO"/>
        <logger name="org.apache.http" level="INFO"/>
        <logger name="org.apache.coyote.http11.InternalNioInputBuffer" level="INFO"/>
        <logger name="org.apache.coyote.http11.Http11NioProtocol" level="INFO"/>
        <logger name="org.apache.coyote.http11.Http11NioProcessor" level="INFO"/>
        <logger name="org.apache.catalina.loader.WebappClassLoaderBase" level="INFO"/>
        <logger name="org.apache.catalina.util.LifecycleBase" level="INFO"/>
        <logger name="org.apache.catalina.mapper.MapperListener" level="INFO"/>
        <logger name="org.apache.catalina.mapper.Mapper" level="INFO"/>
        <logger name="org.apache.catalina.realm.RealmBase" level="INFO"/>
        <logger name="org.apache.catalina.core.ContainerBase" level="INFO"/>
        <logger name="org.apache.catalina.core.StandardContext" level="INFO"/>
        <logger name="org.apache.catalina.core.StandardWrapper" level="INFO"/>
        &lt;!&ndash;display The variable [enc] has value [utf-8]&ndash;&gt;
        <logger name="org.apache.catalina.connector.CoyoteAdapter" level="INFO"/>
        <logger name="org.apache.catalina.session.StandardManager" level="INFO"/>
        <logger name="org.apache.catalina.session.ManagerBase" level="INFO"/>
        <logger name="org.apache.catalina.loader.WebappLoader" level="INFO"/>
        <logger name="org.apache.catalina.authenticator.AuthenticatorBase" level="INFO"/>
        <logger name="org.apache.tomcat.util.net.NioEndpoint" level="INFO"/>
        &lt;!&ndash;Display Set query string encoding to UTF-8&ndash;&gt;
        <logger name="org.apache.tomcat.util.http.Parameters" level="INFO"/>
        &lt;!&ndash;Display cookies&ndash;&gt;
        <logger name="org.apache.tomcat.util.http.LegacyCookieProcessor" level="INFO"/>
        <logger name="org.apache.tomcat.util.digester.Digester" level="INFO"/>
        <logger name="org.apache.tomcat.util.modeler.Registry" level="INFO"/>
        <logger name="org.apache.tomcat.util.modeler.BaseModelMBean" level="INFO"/>
        <logger name="org.apache.tomcat.util.modeler.modules.MbeansDescriptorsIntrospectionSource" level="INFO"/>
        <logger name="org.apache.tomcat.util.threads.LimitLatch" level="INFO"/>
        <logger name="org.apache.tomcat.util.IntrospectionUtils" level="INFO"/>
        <logger name="org.apache.tomcat.jdbc.pool.PooledConnection" level="INFO"/>
        <logger name="org.apache.tomcat.jdbc.pool.ClassLoaderUtil" level="INFO"/>
    -->

    <!--======================================================= org.apdplat.word =======================================================-->
    <logger name="org.apdplat.word" level="INFO"/>
    <!--======================================================= ehcache =======================================================-->

    <logger name="net.sf.ehcache.pool" level="ERROR"/>

    <!--======================================================= javax =======================================================-->
    <logger name="javax.activation" level="${NORMALLEVEL}"/>
    <logger name="javax.management" level="${NORMALLEVEL}"/>
    <logger name="sun.rmi" level="${NORMALLEVEL}"/>
    <!--======================================================= spring security =======================================================-->

    <logger name="org.springframework.security" level="${NORMALLEVEL}"/>
    <!--
        &lt;!&ndash;如PreAuthorize(value=hasRole('ROLE_USER'))&ndash;&gt;
        <logger name="org.springframework.security.access.prepost.PrePostAnnotationSecurityMetadataSource" level="INFO"/>
        &lt;!&ndash;如'hasRole('ROLE_USER')'&ndash;&gt;
        <logger name="org.springframework.security.access.method.DelegatingMethodSecurityMetadataSource" level="INFO"/>
        <logger name="org.springframework.security.access.intercept.aopalliance.MethodSecurityInterceptor" level="INFO"/>
        <logger name="org.springframework.security.access.vote.AffirmativeBased" level="INFO"/>
        &lt;!&ndash;如：Adding web access control expression 'authenticated', for Ant [pattern='/editor/**']&ndash;&gt;
        <logger name="org.springframework.security.web.access.expression.ExpressionBasedFilterInvocationSecurityMetadataSource"
                level="INFO"/>
        <logger name="org.springframework.security.web.access.intercept.FilterInvocationSecurityMetadataSource"
                level="INFO"/>
        <logger name="org.springframework.security.web.access.intercept.FilterSecurityInterceptor" level="INFO"/>
        <logger name="org.springframework.security.web.access.ExceptionTranslationFilter" level="INFO"/>
        <logger name="org.springframework.security.web.authentication.AnonymousAuthenticationFilter" level="INFO"/>
        <logger name="org.springframework.security.web.authentication.session.CompositeSessionAuthenticationStrategy"
                level="INFO"/>
        <logger name="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter" level="INFO"/>
        <logger name="org.springframework.security.web.authentication.rememberme.TokenBasedRememberMeServices"
                level="DEBUG"/>
        &lt;!&ndash;SecurityContextHolder not populated with remember-me token, as it already contained: 'org.springframework.security.authentication.UsernamePasswordAuthenticationToken@c2436841: Principal: org.springframework.security.core.userdetails.User@36ebcb: Username: user; Password: [PROTECTED]; Enabled: true; AccountNonExpired: true; credentialsNonExpired: true; AccountNonLocked: true; Granted Authorities: Authorities(id=2, username=net.liuxuan.SprKi.entity.security.Users@57b88c83, authority=ROLE_USER); Credentials: [PROTECTED]; Authenticated: true; Details: org.springframework.security.web.authentication.WebAuthenticationDetails@957e: RemoteIpAddress: 127.0.0.1; SessionId: null; Granted Authorities: Authorities(id=2, username=net.liuxuan.SprKi.entity.security.Users@57b88c83, authority=ROLE_USER)'&ndash;&gt;
        <logger name="org.springframework.security.web.authentication.rememberme.RememberMeAuthenticationFilter"
                level="INFO"/>
        <logger name="org.springframework.security.web.context.SecurityContextPersistenceFilter" level="INFO"/>
        <logger name="org.springframework.security.web.context.HttpSessionSecurityContextRepository" level="INFO"/>
        <logger name="org.springframework.security.web.FilterChainProxy" level="INFO"/>
        <logger name="org.springframework.security.web.DefaultSecurityFilterChain" level="INFO"/>
        <logger name="org.springframework.security.web.util.matcher" level="INFO"/>
        <logger name="org.springframework.security.web.savedrequest.HttpSessionRequestCache" level="INFO"/>
        <logger name="org.springframework.security.web.savedrequest.DefaultSavedRequest" level="INFO"/>
        <logger name="org.springframework.security.web.DefaultRedirectStrategy" level="INFO"/>
        <logger name="org.springframework.security.web.session.SessionManagementFilter" level="INFO"/>
        <logger name="org.springframework.security.web.header.writers.HstsHeaderWriter" level="INFO"/>
    -->
    <!--======================================================= spring aop =======================================================-->
    <logger name="org.springframework.aop" level="${NORMALLEVEL}"/>
    <!--
        <logger name="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator" level="INFO"/>
        <logger name="org.springframework.aop.framework.CglibAopProxy" level="INFO"/>
        <logger name="org.springframework.aop.framework.JdkDynamicAopProxy" level="INFO"/>
        <logger name="org.springframework.aop.framework.autoproxy.BeanFactoryAdvisorRetrievalHelper" level="INFO"/>
        -->
    <!--======================================================= spring boot =======================================================-->
    <logger name="org.springframework.boot" level="${NORMALLEVEL}"/>
    <!--
        <logger name="org.springframework.boot.actuate.autoconfigure" level="INFO"/>
        &lt;!&ndash; endpoint Mapping,set level to Info to show&ndash;&gt;
        <logger name="org.springframework.boot.actuate.endpoint.mvc" level="WARN"/>
        <logger name="org.springframework.boot.actuate.condition" level="INFO"/>
        <logger name="org.springframework.boot.actuate.trace" level="INFO"/>

        <logger name="org.springframework.boot.autoconfigure.mail.MailSenderAutoConfiguration" level="INFO"/>
        <logger name="org.springframework.boot.autoconfigure.logging.AutoConfigurationReportLoggingInitializer"
                level="INFO"/>
        <logger name="org.springframework.boot.autoconfigure.MessageSourceAutoConfiguration" level="INFO"/>
        <logger name="org.springframework.boot.autoconfigure.AutoConfigurationPackages" level="DEBUG"/>
        <logger name="org.springframework.boot.autoconfigure.condition.OnClassCondition" level="INFO"/>
        <logger name="org.springframework.boot.autoconfigure.condition.OnWebApplicationCondition" level="INFO"/>
        <logger name="org.springframework.boot.autoconfigure.condition.OnBeanCondition" level="INFO"/>
        <logger name="org.springframework.boot.autoconfigure.condition.OnPropertyCondition" level="INFO"/>
        <logger name="org.springframework.boot.autoconfigure.condition.OnJndiCondition" level="INFO"/>
        <logger name="org.springframework.boot.autoconfigure.condition.OnJavaCondition" level="INFO"/>
        <logger name="org.springframework.boot.autoconfigure.cache.CacheCondition" level="INFO"/>
        <logger name="org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration" level="INFO"/>
        <logger name="org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration" level="INFO"/>
        <logger name="org.springframework.boot.autoconfigure.web.DispatcherServletAutoConfiguration" level="INFO"/>
        <logger name="org.springframework.boot.autoconfigure.web.ErrorMvcAutoConfiguration" level="INFO"/>
        <logger name="org.springframework.boot.autoconfigure.web.OnEnabledResourceChainCondition" level="INFO"/>
        <logger name="org.springframework.boot.autoconfigure.web.GsonHttpMessageConvertersConfiguration" level="INFO"/>
        <logger name="org.springframework.boot.autoconfigure.security.BootGlobalAuthenticationConfiguration" level="INFO"/>
        <logger name="org.springframework.boot.devtools.restart.OnInitializedRestarterCondition" level="INFO"/>
        <logger name="org.springframework.boot.devtools.restart.Restarter" level="INFO"/>
        <logger name="org.springframework.boot.devtools.livereload.LiveReloadServer" level="INFO"/>
        <logger name="org.springframework.boot.bind.PropertiesConfigurationFactory" level="INFO"/>

        &lt;!&ndash;print AUTO-CONFIGURATION REPORT&ndash;&gt;
        <logger name="org.springframework.boot.context.config.ConfigFileApplicationListener" level="INFO"/>
        <logger name="org.springframework.boot.context.embedded.AnnotationConfigEmbeddedWebApplicationContext"
                level="INFO"/>
        <logger name="org.springframework.boot.context.embedded.tomcat.TomcatEmbeddedServletContainerFactory" level="INFO"/>
        &lt;!&ndash;Mapping filter   set to INFO if you want to show&ndash;&gt;
        &lt;!&ndash;<logger name="org.springframework.boot.context.embedded.FilterRegistrationBean" level="WARN"/>&ndash;&gt;
        &lt;!&ndash;Mapping servlet   set to INFO if you want to show&ndash;&gt;
        &lt;!&ndash;<logger name="org.springframework.boot.context.embedded.ServletRegistrationBean" level="INFO"/>&ndash;&gt;
        &lt;!&ndash;Added existing Filter initializer bean 'hiddenFilterRegistrationBean'; order=2147483647, resource=class path resource [net/liuxuan/spring/mvc/GlobalWebConfiguration.class]&ndash;&gt;
        <logger name="org.springframework.boot.context.embedded.ServletContextInitializerBeans" level="INFO"/>
        &lt;!&ndash;<logger name="org.springframework.boot.context.web.OrderedRequestContextFilter" level="INFO"/>&ndash;&gt;
        &lt;!&ndash;<logger name="org.springframework.boot.context.web.OrderedHttpPutFormContentFilter" level="INFO"/>&ndash;&gt;
        &lt;!&ndash;<logger name="org.springframework.boot.context.web.OrderedHiddenHttpMethodFilter" level="INFO"/>&ndash;&gt;
        &lt;!&ndash;<logger name="org.springframework.boot.context.web.OrderedCharacterEncodingFilter" level="INFO"/>&ndash;&gt;
    -->
    <!--======================================================= spring beans =======================================================-->
    <logger name="org.springframework.beans" level="${NORMALLEVEL}"/>
    <!--

        <logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory" level="INFO"/>
        <logger name="org.springframework.beans.factory.support.DisposableBeanAdapter" level="INFO"/>
        <logger name="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" level="INFO"/>
        <logger name="org.springframework.beans.factory.annotation.InjectionMetadata" level="INFO"/>
        <logger name="org.springframework.beans.factory.xml.BeansDtdResolver" level="INFO"/>
        <logger name="org.springframework.beans.CachedIntrospectionResults" level="INFO"/>
        &lt;!&ndash;有报InvocationTargetException&ndash;&gt;
        <logger name="org.springframework.beans.AbstractNestablePropertyAccessor" level="INFO"/>
        <logger name="org.springframework.beans.TypeConverterDelegate" level="INFO"/>
    -->
    <!--======================================================= spring core =======================================================-->
    <logger name="org.springframework.core" level="${NORMALLEVEL}"/>
    <!--
        &lt;!&ndash;Searching for key XX in XXX&ndash;&gt;
        <logger name="org.springframework.core.env.PropertySourcesPropertyResolver" level="INFO"/>
        <logger name="org.springframework.core.env.MutablePropertySources" level="INFO"/>
        <logger name="org.springframework.core.env.StandardEnvironment" level="INFO"/>
        <logger name="org.springframework.core.io.support.PathMatchingResourcePatternResolver" level="INFO"/>
        <logger name="org.springframework.core.io.support.SpringFactoriesLoader" level="INFO"/>
        -->
    <!--======================================================= spring context =======================================================-->
    <logger name="org.springframework.context" level="${NORMALLEVEL}"/>
    <!--
        <logger name="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" level="INFO"/>
        <logger name="org.springframework.context.annotation.ClassPathScanningCandidateComponentProvider" level="INFO"/>
        <logger name="org.springframework.context.annotation.ClassPathBeanDefinitionScanner" level="INFO"/>
        <logger name="org.springframework.context.annotation.ConfigurationClassBeanDefinitionReader" level="INFO"/>
        <logger name="org.springframework.context.annotation.ConfigurationClassEnhancer" level="INFO"/>
        <logger name="org.springframework.context.annotation.ConfigurationClassPostProcessor" level="INFO"/>
        <logger name="org.springframework.context.event.EventListenerMethodProcessor" level="INFO"/>
        <logger name="org.springframework.context.event.ApplicationListenerMethodAdapter" level="INFO"/>
        <logger name="org.springframework.context.support.DefaultLifecycleProcessor" level="INFO"/>
        <logger name="org.springframework.context.support.PostProcessorRegistrationDelegate" level="WARN"/>
        -->
    <!--======================================================= spring data =======================================================-->
    <logger name="org.springframework.data" level="${NORMALLEVEL}"/>
    <!--
        <logger name="org.springframework.data.repository.core.support.TransactionalRepositoryProxyPostProcessor"
                level="INFO"/>
        <logger name="org.springframework.data.repository.config.RepositoryComponentProvider" level="INFO"/>
        <logger name="org.springframework.data.repository.config.RepositoryConfigurationDelegate" level="INFO"/>
        <logger name="org.springframework.data.jpa.repository.query.JpaQueryFactory" level="INFO"/>
        <logger name="org.springframework.data.jpa.repository.query.NamedQuery" level="INFO"/>
    -->
    <!--======================================================= spring jdbc =======================================================-->
    <logger name="org.springframework.jdbc" level="${NORMALLEVEL}"/>
    <!--

        <logger name="org.springframework.jdbc.datasource.DataSourceUtils" level="INFO"/>
        &lt;!&ndash;Setting SQL statement parameter value: column index 1, parameter value [user], value class [java.lang.String], SQL type unknown&ndash;&gt;
        <logger name="org.springframework.jdbc.core.StatementCreatorUtils" level="INFO"/>
        &lt;!&ndash;Executing prepared SQL statement [insert into persistent_logins (username, series, token, last_used) values(?,?,?,?)]&ndash;&gt;
        <logger name="org.springframework.jdbc.core.JdbcTemplate" level="INFO"/>
    -->
    <!--======================================================= spring jmx =======================================================-->
    <logger name="org.springframework.jmx" level="${NORMALLEVEL}"/>
    <!--
    <logger name="org.springframework.jmx.support.JmxUtils" level="INFO"/>
    <logger name="org.springframework.jmx.export.annotation.AnnotationMBeanExporter" level="INFO"/>
-->

    <!--======================================================= spring jpa =======================================================-->
    <logger name="org.springframework.jpa" level="${NORMALLEVEL}"/>
    <!--

        <logger name="org.springframework.orm.jpa.SharedEntityManagerCreator" level="INFO"/>
        <logger name="org.springframework.orm.jpa.EntityManagerFactoryUtils" level="INFO"/>
        <logger name="org.springframework.orm.jpa.ExtendedEntityManagerCreator" level="INFO"/>
        <logger name="org.springframework.orm.jpa.support.OpenEntityManagerInViewInterceptor" level="INFO"/>
        <logger name="org.springframework.orm.hibernate4.HibernateTransactionManager" level="INFO"/>
    -->


    <!--======================================================= spring scheduling =======================================================-->
    <logger name="org.springframework.scheduling.annotation.ScheduledAnnotationBeanPostProcessor" level="${NORMALLEVEL}"/>
    <!--======================================================= spring transaction =======================================================-->
    <logger name="org.springframework.transaction" level="${NORMALLEVEL}"/>
    <!--
    <logger name="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource" level="INFO"/>
    <logger name="org.springframework.transaction.support.TransactionSynchronizationManager" level="INFO"/>
    <logger name="org.springframework.transaction.interceptor.TransactionInterceptor" level="INFO"/>
-->
    <!--======================================================= spring util =======================================================-->

    <logger name="org.springframework.util.PropertyPlaceholderHelper" level="${NORMALLEVEL}"/>

    <!--======================================================= spring web =======================================================-->
    <logger name="org.springframework.web" level="${NORMALLEVEL}"/>
    <!--
        <logger name="org.springframework.web.cors.DefaultCorsProcessor" level="INFO"/>
        <logger name="org.springframework.web.context.support.StandardServletEnvironment" level="INFO"/>
        <logger name="org.springframework.web.context.ContextLoader" level="INFO"/>
        <logger name="org.springframework.web.filter.DelegatingFilterProxy" level="INFO"/>
        <logger name="org.springframework.web.method.support.HandlerMethodArgumentResolverComposite" level="INFO"/>
        <logger name="org.springframework.web.method.support.InvocableHandlerMethod" level="INFO"/>
        <logger name="org.springframework.web.servlet.DispatcherServlet" level="INFO"/>
        &lt;!&ndash;Display like Matching patterns for request [/css/bootstrap.css] are [/**]&ndash;&gt;
        <logger name="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping" level="INFO"/>
        <logger name="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" level="INFO"/>
        &lt;!&ndash;RequestMapping set to INFO if you want to show&ndash;&gt;
        <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="WARN"/>
        <logger name="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver"
                level="INFO"/>
        &lt;!&ndash;display Method [login] returned [ModelAndView: reference to view with name 'common/login'; model is {}]&ndash;&gt;
        <logger name="org.springframework.web.servlet.mvc.method.annotation.ServletInvocableHandlerMethod" level="INFO"/>
        &lt;!&ndash;resource handler mapping:   set to Debug if you want to show&ndash;&gt;
        <logger name="org.springframework.web.servlet.resource.ResourceUrlProvider" level="INFO"/>
        <logger name="org.springframework.web.servlet.resource.PathResourceResolver" level="INFO"/>
        <logger name="org.springframework.web.servlet.resource.ResourceHttpRequestHandler" level="INFO"/>
        <logger name="org.springframework.web.servlet.view.ContentNegotiatingViewResolver" level="INFO"/>
        <logger name="org.springframework.web.servlet.view.InternalResourceViewResolver" level="INFO"/>
    -->
    <!--=======================================================  =======================================================-->
    <!--=======================================================  =======================================================-->

    <!--控制logback.LogbackDemo类的日志打印，打印级别为“INFO”；
   additivity属性为false，表示此loger的打印信息不再向上级传递，
   指定了名字为“STDOUT”的appender。-->

    <logger name="logback" level="WARN" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- Enable FILE and STDOUT appenders for all log messages.
     By default, only log at level INFO and above. -->
    <root level="WARN">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>