<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<!--用户修改Div-->
<div th:fragment="departmentedit">

    <!-- header modal -->
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myLargeModalLabel">修改部门</h4>
    </div>
    <form id="updateform" action="/admin/department_ajax?action=update" method="post" class="sky-form boxed"
          novalidate="novalidate" th:object="${department}">
        <!-- body modal -->
        <div class="modal-body">
            <div class="login-box">

                <header><i class="fa fa-users"></i> 修改部门  <b><span th:text="*{departmentName}">zhangsan</span></b>
                    <small class="note bold">请谨慎操作</small>
                </header>

                <fieldset>

                    <input type="hidden" th:field="*{id}"/>
                    <label>修改部门名称</label>
                    <label class="input">
                        <i class="icon-append fa fa-university"></i>
                        <input type="text" th:field="*{departmentName}"
                               placeholder="修改部门名称"/>
                        <b class="tooltip tooltip-bottom-right">修改部门名称</b>
                    </label>
                    <label>修改部门别名</label>
                    <label class="input">
                        <i class="icon-append fa fa-university"></i>
                        <input type="text" th:field="*{departmentNameCN}"
                               placeholder="部门别名"/>
                        <b class="tooltip tooltip-bottom-right">部门别名</b>
                    </label>
                </fieldset>

            </div>
        </div>

        <!-- Modal Footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
            <button type="submit" class="btn btn-primary" onclick="">Save changes</button>
        </div>
    </form>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var callback = function (data, status) {
            alert("Data: " + data + "\nStatus: " + status);
        }

        $("#updateform").on("submit", function (e) {
//            alert($(this).serialize());
//            e.preventDefault();
            $.post(this.action, $(this).serialize(), callback);
            return false;
        });
        /*]]>*/
    </script>
</div>

</body>
</html>