<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/ui/smarty/admin/css/layout.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<!--用户修改Div-->
<div th:fragment="newsPageedit">

    <!-- header modal -->
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myLargeModalLabel">修改NewsPage</h4>
    </div>
    <form id="updateform" action="/admin/newsPage_ajax?action=update" method="post" class="sky-form boxed"
          novalidate="novalidate" th:object="${newsPage}">
        <!-- body modal -->
        <div class="modal-body">
            <div class="row form-group">

                <header><i class="fa fa-users"></i> 修改NewsPage <b><span th:text="*{fullTitle}">zhangsan</span></b>
                    <small class="note bold">请谨慎操作</small>
                </header>

                <fieldset>
                    <input type="hidden" th:field="*{id}"/>
                    <label>修改新闻公告标题</label>
                    <label class="input">
                        <i class="icon-append fa fa-key"></i>
                        <input type="text" th:field="*{fullTitle}"
                               placeholder="修改NewsPage名称" minlength="2" required="true" class="form-control "/>
                        <b class="tooltip tooltip-bottom-right">输入新闻公告标题</b>
                    </label>

                    <label class="input">
                        <i class="icon-append fa fa-key"></i>
                        <textarea id="infoText" th:field="*{infoText}" class="summernote form-control required"
                                  data-height="400" data-lang="en-US">新闻公告内容</textarea>
                        <b class="tooltip tooltip-bottom-right">输入新闻公告内容</b>
                    </label>


                </fieldset>

            </div>
        </div>

        <!-- Modal Footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" onclick="">Save changes</button>
        </div>
    </form>
    <script type="text/javascript" th:inline="javascript">
        jQuery(window).ready(function () {
            Init(true);
            //initCreate();

            //不注册则不重新加载
            $('.modal').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
//                $(this).empty();
            })
        });

        /*<![CDATA[*/
        var callback = function (data, status) {
            alert("Data: " + data + "\nStatus: " + status);
        }

        $("#updateform").on("submit", function (e) {
//            alert($(this).serialize());
//            e.preventDefault();
            $.post(this.action, $(this).serialize(), callback);
            return false;
        });
        /*]]>*/
    </script>
</div>

</body>
</html>