<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/base">
<head>
    <title>Messages : View</title>
    <style>
        body {
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: center;
            justify-content: center;
        }

        #tar_box {
            width: 500px;
            height: 500px;
            border: 1px solid red;
        }
    </style>
</head>
<body>
<h1 layout:fragment="header">Messages : Create</h1>
<div layout:fragment="content" class="container">

    <div class="nrd">
        <div class="container">
            <p align="center">
            <h1>OCR工具</h1>
            </p>
        </div>
        <script type="text/javascript">
            $('#header').toggleClass('shadow-after-3');
        </script>
        <div class="container">

            <form th:action="@{/tools/OCR}" action="/ticket" id="faqform" name="faqform" method="POST"
                  class="validate-plugin" data-success="Sent! Thank you!" data-toastr-position="top-right"
                  enctype="multipart/form-data">

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                            <label>贴图 *</label>
                            <div id="picbox" class="" contenteditable="true"
                                 style="width: 60%;height: 200px; background: #f0fff0 ;border: 3px solid #ccc;overflow: scroll">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                            <label>识别</label>
                            <div id="ocrtext" class=""
                                 style="width: 60%;height: 200px; border: 3px solid #ccc;overflow: scroll">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <br/><br/><br/>

        </div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var ocrtext = $('#ocrtext');
            var picbox = $('#picbox');

            picbox.on('paste', function (event) {
                var isChrome = false;
                let clipboardData = (event.clipboardData || event.originalEvent.clipboardData);
                if (clipboardData) {

                    if (clipboardData.items) {
                        //for chrome
                        let items = clipboardData.items;
                        let len = items.length;
                        let blob = null;
                        isChrome = true;
                        //firefox 50.0 支持chrome的方法。
                        //items.length比较有意思，初步判断是根据mime类型来的，即有几种mime类型，长度就是几（待验证）
                        //如果粘贴纯文本，那么len=1，如果粘贴网页图片，len=2, items[0].type = 'text/plain', items[1].type = 'image/*'
                        //如果使用截图工具粘贴图片，len=1, items[0].type = 'image/png'
                        //如果粘贴纯文本+HTML，len=2, items[0].type = 'text/plain', items[1].type = 'text/html'
                        //阻止默认行为即不让剪贴板内容在div中显示出来
                        event.preventDefault();
//在items里找粘贴的image,据上面分析,需要循环
                        for (let i = 0; i < len; i++) {
                            if (items[i].type.indexOf("image") !== -1) {
                                //getAsFile()  此方法只是living standard  firefox ie11 并不支持
                                blob = items[i].getAsFile();
                                //let reader = new FileReader();

                            }
                        }
                        if (blob !== null) {
                            let reader = new FileReader();
                            reader.onload = function (event) {
                                // event.target.result 即为图片的Base64编码字符串
                                let base64_str = event.target.result
                                //可以在这里写上传逻辑 直接将base64编码的字符串上传（可以尝试传入blob对象，看看后台程序能否解析）
                                let img = document.createElement('img');
                                img.className = 'my_img';
                                img.src = base64_str;
                                picbox.append(img);
                                uploadImgFromPaste(base64_str, 'paste', isChrome);
                            };
                            reader.readAsDataURL(blob);
                        }
                    }
                } else {
                    //for ie11
                    setTimeout(function () {
                        var imgList = $('#picbox img'),
                                len = imgList.length,
                                src_str = '',
                                i;
                        for (i = 0; i < len; i++) {
                            if (imgList[i].className !== 'my_img') {
                                src_str = imgList[i].src;
                            }
                        }
                        uploadImgFromPaste(src_str, 'paste', isChrome);
                    }, 1);
                }
            });


            function uploadImgFromPaste(file, type, isChrome) {
                var formData = new FormData();
                formData.append('file', file);
                formData.append('type', type);

                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/tools/ocrImgUpload');
                xhr.onload = function () {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            var data = JSON.parse(xhr.responseText);
//                            var ocrtext = document.getElementById('ocrtext');
//                            var picbox = document.getElementById('picbox');
                            var v_ocrtext = '';
                            for (var index1 = 0; index1 < data.results.length; index1++) {
                                v_ocrtext += data.results[index1].word + '<br/>';
                            }
                            ocrtext.innerText = v_ocrtext;
                            ocrtext.html(v_ocrtext);
                            if (isChrome) {
//                                var img = document.createElement('img');
//                                img.className = 'my_img';
//                                img.src = file;
//                                picbox.appendChild(img);
                            } else {
                                var imgList = document.querySelectorAll('#picbox img'),
                                        len = imgList.length,
                                        index2;
                                for (index2 = 0; index2 < len; index2++) {
                                    if (imgList[index2].className !== 'my_img') {
                                        imgList[index2].className = 'my_img';
                                        imgList[index2].src = file;
                                    }
                                }
                            }

                        } else {
                            console.log(xhr.statusText);
                        }
                    }

                };
                xhr.onerror = function (e) {
                    console.log(xhr.statusText);
                };
                xhr.send(formData);
            }

            /*]]>*/
        </script>


    </div>
</div>
</body>
</html>
