<html
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layouts/base">
<head>
    <title>Messages : View</title>
</head>
<body>
<h1 layout:fragment="header">Messages : Create</h1>
<div layout:fragment="content" class="container">

    <div class="nrd">
        <div class="container">
            <p align="center">
                <h1>OCR工具</h1>
            </p>
        </div>
        <script type="text/javascript">
            $('#header').toggleClass('shadow-after-3');
        </script>
        <div class="container">

            <form class="form-horizontal">

                <div class="form-group">
                    <label class="col-sm-2 control-label">参数</label>
                    <div class="col-sm-3">
                        <label for="Volume">Volume(ml)</label>
                        <input type="text" class="form-control" id="Volume" value="8.01"/>
                        <label for="Area">Area(m2)</label>
                        <input type="text" class="form-control" id="Area" value="0.003848"/>
                        <label for="Temprature">T(℃)</label>
                        <input type="text" class="form-control" id="Temprature" value="25"/>
                        <label for="t0">T0(K)</label>
                        <input type="text" class="form-control" id="t0" value="273.15"/>
                    </div>
                    <div class="col-sm-3">
                        <label for="p0">P0(Pa)</label>
                        <input type="text" class="form-control" id="p0" value="101300"/>
                        <label for="p1">P1(0.1MPa)</label>
                        <input type="text" class="form-control" id="p1" value="1"/>
                        <label for="p2">P2(0.1MPa)</label>
                        <input type="text" class="form-control" id="p2" value="0"/>
                        <label for="deltaT">Δt(s)</label>
                        <input type="text" class="form-control" id="deltaT" value="3600"/>
                    </div>
                    <div class="col-sm-3">
                        <label for="deltaPStart">ΔP_start(Pa)</label>
                        <input type="text" class="form-control" id="deltaPStart" value="9"/>
                        <label for="deltaPEnd">ΔP_end(Pa)</label>
                        <input type="text" class="form-control" id="deltaPEnd" value="150"/>
                        <label for="coefficient">膜标定系数</label>
                        <input type="text" class="form-control" id="coefficient" value="0.78"/>
                        <label for="num">n(件数)：</label>
                        <input type="text" class="form-control" id="num" value="3"/>
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">计算渗透、扩散系数</label>
                    <div class="col-sm-3">
                        <label for="dimension">d(μm)</label>
                        <input type="text" class="form-control" id="dimension" value="125"/>
                    </div>
                    <div class="col-sm-3">
                        <label for="p1kuosan">p1(Pa)</label>
                        <input type="text" class="form-control" id="p1kuosan" value="150"/>
                        <label for="p2kuosan">p2</label>
                        <input type="text" class="form-control" id="p2kuosan" value="100"/>
                    </div>
                    <div class="col-sm-3">
                        <label for="t1kuosan">t1</label>
                        <input type="text" class="form-control" id="t1kuosan" value="7200"/>
                        <label for="t2kuosan">t2(Pa)</label>
                        <input type="text" class="form-control" id="t2kuosan" value="0"/>
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Device Preset</label>
                    <div class="col-sm-10">
                        <div class="">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" id="btnDeviceVACV2" class="btn btn-default">VAC-V2</button>
                                <button type="button" id="btnDeviceVACVBS" class="btn btn-default">VAC-VBS</button>
                                <button type="button" id="btnDeviceG2131" class="btn btn-default">G2-131</button>
                                <button type="button" id="btnDeviceG2132" class="btn btn-default">G2-132</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Formula</label>
                    <div class="col-sm-10">
                        <strong>O2GTR=（ΔP/Δt）•［V(/nS）］•［T0 / (P0T)］•［24 / (P1- P2)］</strong>
                        <br/>
                        <label id="result"></label>
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" id="btnCompute" class="btn btn-default">Compute</button>
                    </div>
                </div>
            </form>

            <script type="text/javascript">
                'use strict';
                var V, S, T, T0, P0, P1, P2, deltaT, deltaPstart, deltaPend, n, d, kuosanp1, kuosanp2, kuosant1, kuosant2, filmcali, deltaP;
                var O2_GTR, O2_Pg, theta, O2_D, O2_S;

                $('#btnCompute').click(function () {
                    computeResult()
                });
                $('#btnDeviceG2131').click(function () {
                    Number($('#Volume').val(11.166));
                    S = Number($('#Area').val(0.003848));
                    T = Number($('#Temprature').val(25));
                    T0 = Number($('#t0').val(273.15));
                    P0 = Number($('#p0').val(101300));
                    P1 = Number($('#p1').val(1));
                    P2=Number($('#p2').val(0));
                    deltaT = Number($('#deltaT').val(3600));
                    deltaPstart = Number($('#deltaPStart').val(9));
                    deltaPend = Number($('#deltaPEnd').val(150));
                    n = Number($('#num').val(3));
                    d = Number($('#dimension').val(125));
                    kuosanp1 = Number($('#p1kuosan').val(150));
                    kuosanp2 = Number($('#p2kuosan').val(100));
                    kuosant1 = Number($('#t1kuosan').val(7200));
                    kuosant2 = Number($('#t2kuosan').val(0));
                    //		filmcali=Number($('').val());
                });
                $('#btnDeviceG2132').click(function () {
                    Number($('#Volume').val(8.010));
                    S = Number($('#Area').val(0.003848));
                    T = Number($('#Temprature').val(25));
                    T0 = Number($('#t0').val(273.15));
                    P0 = Number($('#p0').val(101300));
                    P1 = Number($('#p1').val(1));
                    P2=Number($('#p2').val(0));
                    deltaT = Number($('#deltaT').val(3600));
                    deltaPstart = Number($('#deltaPStart').val(9));
                    deltaPend = Number($('#deltaPEnd').val(150));
                    n = Number($('#num').val(3));
                    d = Number($('#dimension').val(125));
                    kuosanp1 = Number($('#p1kuosan').val(150));
                    kuosanp2 = Number($('#p2kuosan').val(100));
                    kuosant1 = Number($('#t1kuosan').val(7200));
                    kuosant2 = Number($('#t2kuosan').val(0));
                    //		filmcali=Number($('').val());
                });
                $('#btnDeviceVACVBS').click(function () {
                    Number($('#Volume').val(20.2389));
                    S = Number($('#Area').val(0.002827));
                    T = Number($('#Temprature').val(25));
                    T0 = Number($('#t0').val(273.15));
                    P0 = Number($('#p0').val(101300));
                    P1 = Number($('#p1').val(1.01));
                    P2=Number($('#p2').val(0));
                    deltaT = Number($('#deltaT').val(3600));
                    deltaPstart = Number($('#deltaPStart').val(9));
                    deltaPend = Number($('#deltaPEnd').val(150));
                    n = Number($('#num').val(3));
                    d = Number($('#dimension').val(125));
                    kuosanp1 = Number($('#p1kuosan').val(150));
                    kuosanp2 = Number($('#p2kuosan').val(100));
                    kuosant1 = Number($('#t1kuosan').val(7200));
                    kuosant2 = Number($('#t2kuosan').val(0));
                    //		filmcali=Number($('').val());
                });
                $('#btnDeviceVACV2').click(function () {
                    Number($('#Volume').val(8.010));
                    S = Number($('#Area').val(0.003848));
                    T = Number($('#Temprature').val(25));
                    T0 = Number($('#t0').val(273.15));
                    P0 = Number($('#p0').val(101300));
                    P1 = Number($('#p1').val(1));
                    P2=Number($('#p2').val(0));
                    deltaT = Number($('#deltaT').val(3600));
                    deltaPstart = Number($('#deltaPStart').val(9));
                    deltaPend = Number($('#deltaPEnd').val(150));
                    n = Number($('#num').val(3));
                    d = Number($('#dimension').val(125));
                    kuosanp1 = Number($('#p1kuosan').val(150));
                    kuosanp2 = Number($('#p2kuosan').val(100));
                    kuosant1 = Number($('#t1kuosan').val(7200));
                    kuosant2 = Number($('#t2kuosan').val(0));
                    //		filmcali=Number($('').val());
                });

                function updateData() {
                    V = Number($('#Volume').val());
                    S = Number($('#Area').val());
                    T = Number($('#Temprature').val());
                    T += 273.15;
                    T0 = Number($('#t0').val());
                    P0 = Number($('#p0').val());
                    P1 = Number($('#p1').val());
                    P2 = Number($('#p2').val());
                    deltaT = Number($('#deltaT').val());
                    deltaPstart = Number($('#deltaPStart').val());
                    deltaPend = Number($('#deltaPEnd').val());
                    deltaP = deltaPend - deltaPstart;
                    n = Number($('#num').val());
                    d = Number($('#dimension').val());
                    d = d / 10000;
                    kuosanp1 = Number($('#p1kuosan').val());
                    kuosanp2 = Number($('#p2kuosan').val());

                    kuosant1 = Number($('#t1kuosan').val());
                    kuosant2 = Number($('#t2kuosan').val());
                    filmcali = Number($('#coefficient').val());
                }

                function computeResult() {

                    updateData();
                    O2_GTR = (deltaP / (deltaT / 3600)) * (V / (n * S)) * (T0 / P0 / T) * (24 / (P1 - P2)) * filmcali;
                    O2_Pg = O2_GTR / 24 * d;
                    O2_Pg = O2_GTR / 24 * d;//渗透系数
                    theta = (kuosant1 - kuosanp1 * ((kuosant1 - kuosant2) / (kuosanp1 - kuosanp2))) / 3600; //θ
                    O2_D = d * d / (6 * theta);//扩散系数
                    O2_S = O2_Pg / O2_D;//溶解度系数
                    var result = "透气量O2_GTR结果为：" + O2_GTR.toExponential(6) + "  cm3/m2·24h·0.1MPa" + "<br/>渗透系数Pg结果为：" + O2_Pg.toExponential(6) + " cm3·cm/m2·h·0.1MPa" + "<br/>扩散系数D结果为：" + O2_D.toExponential(6) + "  cm2/h，" + "   θ值为：" + theta + "<br/>溶解度系数S结果为：" + O2_S.toExponential(6) + "  cm2/m2·0.1Mpa";
                    console.log(result);
                    $('#result').html(result);
                }
            </script>


        </div>
    </div>
</div>
</body>
</html>
