<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layouts/base">
<head>
    <title>Messages : View</title>
</head>
<body>
<h1 layout:fragment="header">Messages : Create</h1>
<div layout:fragment="content" class="container">

    <br/>
    <ol class="breadcrumb">
        <li><a th:href="@{/}">首页</a></li>
        <li class="active">重量法计算工具</li>
    </ol>
    <div class="nrd">
        <!--<div class="container">-->
        <!--<p align="center">-->
        <!--<h1>压差法计算工具</h1>-->
        <!--</p>-->
        <!--</div>-->
        <script type="text/javascript">
            $('#header').toggleClass('shadow-after-3');
        </script>
        <div class="container">

            <div class="col-md-7 col-sm-7" style="border-right: 1px solid #C7C7C7">
                <form class="form-horizontal">

                    <div class="form-group">
                        <h3>结果计算区</h3>
                        <label class="col-md-2 col-sm-2 control-label">参数</label>
                        <div class="col-md-3 col-sm-3">
                            <input type="hidden" id="divide" value="0">
                            <label for="Weight1">初始重量(g)</label>
                            <input type="text" class="form-control" id="Weight1" value="127.0164"/>
                            <label for="Weight2">结束重量(g)</label>
                            <input type="text" class="form-control" id="Weight2" value="127.0012"/>
                            <label for="Times">N次质量差</label>
                            <input type="text" class="form-control" id="Times" value="2"/>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <label for="Area">面积(cm2)</label>
                            <input type="text" class="form-control" id="Area" value="33"/>
                            <label for="Period">时间(min)</label>
                            <input type="text" class="form-control" id="Period" value="90"/>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <label for="Coefficient">膜标定系数</label>
                            <input type="text" class="form-control" id="Coefficient" value="1"/>
                            <label for="Num">n(件数)：</label>
                            <input type="text" class="form-control" id="Num" value="1"/>
                        </div>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <label class="col-md-2 col-sm-2 control-label">计算透过系数</label>
                        <div class="col-md-3 col-sm-3">
                            <label for="Thick">d(um)</label>
                            <input type="text" class="form-control" id="Thick" value="125"/>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <label for="Temp">温度(℃)</label>
                            <input type="text" class="form-control" id="Temp" value="38"/>
                        </div>

                    </div>
                    <hr/>
                    <div class="form-group">
                        <label class="col-md-2 col-sm-2 control-label">设备预设参数</label>
                        <div class="col-sm-10">
                            <div class="">
                                <div class="btn-group" role="group" aria-label="...">
                                    <button type="button" id="btnDeviceW3030" class="btn btn-default">W3/030</button>
                                    <button type="button" id="btnDeviceW3031" class="btn btn-default">W3/031</button>
                                    <button type="button" id="btnDeviceW3060" class="btn btn-default">W3/060</button>
                                    <button type="button" id="btnDeviceW30120" class="btn btn-default">W3/0120</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <label class="col-md-2 col-sm-2 control-label">Formula</label>
                        <div class="col-sm-10">
                            <strong>WVT=Δm/A•t</strong>
                            <br/>
                            <strong>WVTR=Δm•d/A•t•Δp</strong>
                            <br/>
                            <label id="result"></label>
                        </div>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" id="btnCompute" class="btn btn-default">Compute</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-5 col-sm-5" style="border-left: 1px solid #C7C7C7">
                <h3>比例计算区</h3>
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label">称重列表<br/>(每行一个称重值)</label>
                    <div class="col-md-10 col-sm-10">
                        <textarea class="form-control" rows="10" id="WeightList"></textarea>
                        <div id="ListResult"></div>
                        <button type="button" id="btnComputeList" class="btn btn-default">Compute</button>
                    </div>
                </div>
                <script type="text/javascript">
                    'use strict';
                    var t2p = {
                        0: 611.213,
                        0.1: 615.667,
                        0.2: 620.15,
                        0.3: 624.662,
                        0.4: 629.203,
                        0.5: 633.774,
                        0.6: 638.373,
                        0.7: 643.003,
                        0.8: 647.662,
                        0.9: 652.35,
                        1.0: 657.069,
                        1.1: 661.819,
                        1.2: 666.598,
                        1.3: 671.408,
                        1.4: 676.249,
                        1.5: 681.121,
                        1.6: 686.024,
                        1.7: 690.958,
                        1.8: 695.932,
                        1.9: 700.92,
                        2.0: 705.949,
                        2.1: 711.01,
                        2.2: 716.103,
                        2.3: 721.228,
                        2.4: 726.386,
                        2.5: 731.576,
                        2.6: 736.799,
                        2.7: 742.055,
                        2.8: 747.344,
                        2.9: 752.667,
                        3.0: 758.023,
                        3.1: 763.412,
                        3.2: 768.836,
                        3.3: 774.294,
                        3.4: 779.786,
                        3.5: 785.312,
                        3.6: 790.873,
                        3.7: 796.469,
                        3.8: 802.1,
                        3.9: 807.766,
                        4.0: 813.467,
                        4.1: 819.204,
                        4.2: 824.977,
                        4.3: 830.786,
                        4.4: 836.631,
                        4.5: 842.512,
                        4.6: 848.429,
                        4.7: 854.384,
                        4.8: 860.375,
                        4.9: 866.403,
                        5.0: 872.469,
                        5.1: 878.572,
                        5.2: 884.713,
                        5.3: 890.892,
                        5.4: 897.109,
                        5.5: 903.364,
                        5.6: 909.658,
                        5.7: 915.991,
                        5.8: 922.362,
                        5.9: 928.773,
                        6.0: 935.223,
                        6.1: 941.712,
                        6.2: 948.241,
                        6.3: 954.81,
                        6.4: 961.419,
                        6.5: 968.069,
                        6.6: 974.759,
                        6.7: 981.49,
                        6.8: 988.262,
                        6.9: 995.075,
                        7.0: 1001.93,
                        7.1: 1008.83,
                        7.2: 1015.76,
                        7.3: 1022.74,
                        7.4: 1029.77,
                        7.5: 1036.83,
                        7.6: 1043.95,
                        7.8: 1058.29,
                        7.9: 1065.52,
                        8.0: 1072.8,
                        8.1: 1080.13,
                        8.2: 1087.5,
                        8.3: 1094.91,
                        8.4: 1102.37,
                        8.5: 1109.87,
                        8.6: 1117.42,
                        8.7: 1125.01,
                        8.8: 1132.65,
                        8.9: 1140.33,
                        9.0: 1148.06,
                        9.1: 1155.84,
                        9.2: 1163.66,
                        9.3: 1171.53,
                        9.4: 1179.45,
                        9.5: 1187.41,
                        9.6: 1195.42,
                        9.7: 1203.48,
                        9.8: 1211.58,
                        9.9: 1219.74,
                        10.0: 1227.94,
                        10.1: 1236.19,
                        10.2: 1244.49,
                        10.3: 1252.84,
                        10.4: 1261.24,
                        10.5: 1269.68,
                        10.6: 1278.18,
                        10.7: 1286.73,
                        10.8: 1295.33,
                        10.9: 1303.97,
                        11.0: 1312.67,
                        11.1: 1321.42,
                        11.2: 1330.22,
                        11.3: 1339.08,
                        11.4: 1347.98,
                        11.5: 1356.94,
                        11.6: 1365.95,
                        11.7: 1375.01,
                        11.8: 1384.12,
                        11.9: 1393.29,
                        12.0: 1402.51,
                        12.1: 1411.79,
                        12.2: 1421.11,
                        12.3: 1430.5,
                        12.4: 1439.93,
                        12.5: 1449.43,
                        12.6: 1458.97,
                        12.7: 1468.58,
                        12.8: 1478.23,
                        12.9: 1487.95,
                        13.0: 1497.72,
                        13.1: 1507.54,
                        13.2: 1517.43,
                        13.3: 1527.36,
                        13.4: 1537.36,
                        13.5: 1547.42,
                        13.6: 1557.53,
                        13.7: 1567.7,
                        13.8: 1577.93,
                        13.9: 1588.21,
                        14.0: 1598.56,
                        14.1: 1608.96,
                        14.2: 1619.43,
                        14.3: 1629.95,
                        14.4: 1640.54,
                        14.5: 1651.18,
                        14.6: 1661.89,
                        14.7: 1672.65,
                        14.8: 1683.48,
                        14.9: 1694.37,
                        15.0: 1705.32,
                        15.1: 1716.33,
                        15.2: 1727.41,
                        15.3: 1738.54,
                        15.4: 1749.75,
                        15.5: 1761.01,
                        15.6: 1772.34,
                        15.7: 1783.73,
                        15.8: 1795.18,
                        15.9: 1806.7,
                        16.0: 1818.29,
                        16.1: 1829.94,
                        16.2: 1841.66,
                        16.3: 1853.44,
                        16.4: 1865.29,
                        16.5: 1877.2,
                        16.6: 1889.18,
                        16.7: 1901.23,
                        16.8: 1913.34,
                        16.9: 1925.53,
                        17.0: 1937.78,
                        17.1: 1950.1,
                        17.2: 1962.48,
                        17.3: 1974.94,
                        17.4: 1987.47,
                        17.5: 2000.06,
                        17.6: 2012.73,
                        17.7: 2025.46,
                        17.8: 2038.27,
                        17.9: 2051.14,
                        18.0: 2064.09,
                        18.1: 2077.11,
                        18.2: 2090.2,
                        18.3: 2103.37,
                        18.4: 2116.61,
                        18.5: 2129.92,
                        18.6: 2143.3,
                        18.7: 2156.75,
                        18.8: 2170.29,
                        18.9: 2183.89,
                        19.0: 2197.57,
                        19.1: 2211.32,
                        19.2: 2225.15,
                        19.3: 2239.06,
                        19.4: 2253.04,
                        19.5: 2267.1,
                        19.6: 2281.23,
                        19.7: 2295.44,
                        19.8: 2309.73,
                        19.9: 2324.1,
                        20.0: 2338.54,
                        20.1: 2353.07,
                        20.2: 2367.67,
                        20.3: 2382.35,
                        20.4: 2397.11,
                        20.5: 2411.95,
                        20.6: 2426.88,
                        20.7: 2441.88,
                        20.8: 2456.94,
                        20.9: 2472.13,
                        21.0: 2487.37,
                        21.1: 2502.7,
                        21.2: 2518.11,
                        21.3: 2533.61,
                        21.4: 2549.18,
                        21.5: 2564.85,
                        21.6: 2580.59,
                        21.7: 2596.42,
                        21.8: 2612.33,
                        21.9: 2628.33,
                        22.0: 2644.42,
                        22.1: 2660.59,
                        22.2: 2676.85,
                        22.3: 2693.19,
                        22.4: 2709.62,
                        22.5: 2726.12,
                        22.6: 2742.75,
                        22.7: 2759.45,
                        22.8: 2776.23,
                        22.9: 2793.1,
                        23.0: 2810.06,
                        23.1: 2827.12,
                        23.2: 2844.26,
                        23.3: 2861.49,
                        23.4: 2878.82,
                        23.5: 2896.23,
                        23.6: 2913.74,
                        23.7: 2931.34,
                        23.8: 2949.04,
                        23.9: 2966.82,
                        24.0: 2984.7,
                        24.1: 3002.68,
                        24.2: 3020.74,
                        24.3: 3038.91,
                        24.4: 3057.17,
                        24.5: 3075.52,
                        24.6: 3093.97,
                        24.7: 3112.52,
                        24.8: 3131.16,
                        24.9: 3149.9,
                        25.0: 3168.74,
                        25.1: 3187.68,
                        25.2: 3206.71,
                        25.3: 3225.85,
                        25.4: 3245.08,
                        25.5: 3264.41,
                        25.6: 3283.85,
                        25.7: 3303.38,
                        25.8: 3323.02,
                        25.9: 3342.76,
                        26.0: 3362.6,
                        26.1: 3382.54,
                        26.2: 3402.59,
                        26.3: 3422.73,
                        26.4: 3442.99,
                        26.5: 3463.34,
                        26.6: 3483.81,
                        26.7: 3504.37,
                        26.8: 3525.05,
                        26.9: 3545.83,
                        27.0: 3566.71,
                        27.1: 3587.71,
                        27.2: 3608.81,
                        27.3: 3630.02,
                        27.4: 3651.33,
                        27.5: 3672.76,
                        27.6: 3694.29,
                        27.7: 3715.94,
                        27.8: 3737.69,
                        27.9: 3759.56,
                        28.0: 3781.54,
                        28.1: 3803.63,
                        28.2: 3825.83,
                        28.3: 3848.14,
                        28.4: 3870.57,
                        28.5: 3893.11,
                        28.6: 3915.77,
                        28.7: 3938.54,
                        28.8: 3961.42,
                        28.9: 3984.42,
                        29.0: 4007.54,
                        29.1: 4030.77,
                        29.2: 4054.12,
                        29.3: 4077.59,
                        29.4: 4101.18,
                        29.5: 4124.88,
                        29.6: 4148.71,
                        29.7: 4172.65,
                        29.8: 4196.71,
                        29.9: 4220.9,
                        30.0: 4245.2,
                        30.1: 4269.63,
                        30.2: 4294.18,
                        30.3: 4318.85,
                        30.4: 4343.64,
                        30.5: 4368.56,
                        30.6: 4393.6,
                        30.7: 4418.77,
                        30.8: 4444.06,
                        30.9: 4469.48,
                        31.0: 4495.02,
                        31.1: 4520.69,
                        31.2: 4546.49,
                        31.3: 4572.42,
                        31.4: 4598.47,
                        31.5: 4624.65,
                        31.6: 4650.96,
                        31.7: 4677.41,
                        31.8: 4703.98,
                        31.9: 4730.68,
                        32.0: 4757.52,
                        32.1: 4784.48,
                        32.2: 4811.58,
                        32.3: 4838.81,
                        32.4: 4866.18,
                        32.5: 4893.68,
                        32.6: 4924.32,
                        32.7: 4949.09,
                        32.8: 4976.99,
                        32.9: 5005.04,
                        33.0: 5033.22,
                        33.1: 5061.53,
                        33.2: 5089.99,
                        33.3: 5118.58,
                        33.4: 5147.32,
                        33.5: 5176.19,
                        33.6: 5205.2,
                        33.7: 5234.36,
                        33.8: 5263.65,
                        33.9: 5293.09,
                        34.0: 5322.67,
                        34.1: 5352.39,
                        34.2: 5382.26,
                        34.3: 5412.27,
                        34.4: 5442.43,
                        34.5: 5472.73,
                        34.6: 5503.18,
                        34.7: 5533.78,
                        34.8: 5564.52,
                        34.9: 5595.41,
                        35.0: 5626.45,
                        35.1: 5653.64,
                        35.2: 5688.97,
                        35.3: 5720.46,
                        35.4: 5752.1,
                        35.5: 5783.89,
                        35.6: 5815.83,
                        35.7: 5847.93,
                        35.8: 5880.17,
                        35.9: 5912.58,
                        36.0: 5945.13,
                        36.1: 5977.84,
                        36.2: 6010.71,
                        36.3: 6043.73,
                        36.4: 6076.91,
                        36.5: 6110.25,
                        36.6: 6143.75,
                        36.7: 6177.4,
                        36.8: 6211.22,
                        36.9: 6245.19,
                        37.0: 6279.33,
                        37.1: 6313.62,
                        37.2: 6348.08,
                        37.3: 6382.7,
                        37.4: 6417.48,
                        37.5: 6452.43,
                        37.6: 6487.54,
                        37.7: 6522.82,
                        37.8: 6558.26,
                        37.9: 6593.87,
                        38.0: 6629.65,
                        38.1: 6665.59,
                        38.2: 6701.71,
                        38.3: 6737.99,
                        38.4: 6774.44,
                        38.5: 6811.06,
                        38.6: 6847.85,
                        38.7: 6884.82,
                        38.8: 6921.95,
                        38.9: 6959.26,
                        39.0: 6996.75,
                        39.1: 7034.4,
                        39.2: 7072.24,
                        39.3: 7110.24,
                        39.4: 7148.43,
                        39.5: 7186.79,
                        39.6: 7225.33,
                        39.7: 7264.04,
                        39.8: 7302.94,
                        39.9: 7342.02,
                        40.0: 7381.27,
                        40.1: 7420.71,
                        40.2: 7460.33,
                        40.3: 7500.13,
                        40.4: 7540.12,
                        40.5: 7580.28,
                        40.6: 7620.64,
                        40.7: 7661.18,
                        40.8: 7701.9,
                        40.9: 7742.81,
                        41.0: 7783.91,
                        41.1: 7825.2,
                        41.2: 7866.67,
                        41.3: 7908.34,
                        41.4: 7950.19,
                        41.5: 7992.24,
                        41.6: 8034.47,
                        41.7: 8076.9,
                        41.8: 8119.53,
                        41.9: 8162.34,
                        42.0: 8205.36,
                        42.1: 8248.56,
                        42.2: 8291.96,
                        42.3: 8335.56,
                        42.4: 8379.36,
                        42.5: 8423.36,
                        42.6: 8467.55,
                        42.7: 8511.94,
                        42.8: 8556.64,
                        42.9: 8601.33,
                        43.0: 8646.33,
                        43.1: 8691.53,
                        43.2: 8736.93,
                        43.3: 8782.54,
                        43.4: 8828.35,
                        43.5: 8874.37,
                        43.6: 8920.59,
                        43.7: 8967.02,
                        43.8: 9013.66,
                        43.9: 9060.51,
                        44.0: 9107.57,
                        44.1: 9154.84,
                        44.2: 9202.32,
                        44.3: 9250.01,
                        44.4: 9297.91,
                        44.5: 9346.03,
                        44.6: 9394.36,
                        44.7: 9442.91,
                        44.8: 9491.67,
                        44.9: 9540.65,
                        45.0: 9589.84,
                        45.1: 9635.25,
                        45.2: 9688.89,
                        45.3: 9738.74,
                        45.4: 9788.81,
                        45.5: 9839.11,
                        45.6: 9889.62,
                        45.7: 9940.36,
                        45.8: 9991.32,
                        45.9: 10042.51,
                        46.0: 10093.62,
                        46.1: 10145.56,
                        46.2: 10197.43,
                        46.3: 10249.52,
                        46.4: 10301.84,
                        46.5: 10354.39,
                        46.6: 10407.18,
                        46.7: 10460.19,
                        46.8: 10513.43,
                        46.9: 10566.91,
                        47.0: 10620.62,
                        47.1: 10674.57,
                        47.2: 10728.75,
                        47.3: 10783.16,
                        47.4: 10837.82,
                        47.5: 10892.71,
                        47.6: 10947.84,
                        47.7: 11003.21,
                        47.8: 11058.82,
                        47.9: 11114.67,
                        48.0: 11170.761,
                        48.1: 11227.1,
                        48.2: 11283.68,
                        48.3: 11340.5,
                        48.4: 11397.57,
                        48.5: 11454.88,
                        48.6: 11512.45,
                        48.7: 11570.26,
                        48.8: 11628.32,
                        48.9: 11686.63,
                        49.0: 11745.19,
                        49.1: 11804,
                        49.2: 11863.07,
                        49.3: 11922.38,
                        49.4: 11981.96,
                        49.5: 12041.78,
                        49.6: 12101.87,
                        49.7: 12161.21,
                        49.8: 12222.81,
                        49.9: 12283.66,
                        50.0: 12344.78,
                        50.1: 12406.16,
                        50.2: 12467.79,
                        50.3: 12529.7,
                        50.4: 12591.86,
                        50.5: 12654.29,
                        50.6: 12716.98,
                        50.7: 12779.94,
                        50.8: 12843.17,
                        50.9: 12906.66,
                        51.0: 12970.42,
                        51.1: 13034.46,
                        51.2: 13098.76,
                        51.3: 13163.33,
                        51.4: 13228.18,
                        51.5: 13293.3,
                        51.6: 13358.7,
                        51.7: 13424.37,
                        51.8: 13490.32,
                        51.9: 13556.54,
                        52.0: 13623.04,
                        52.1: 13689.82,
                        52.2: 13756.88,
                        52.3: 13824.23,
                        52.4: 13891.85,
                        52.5: 13959.76,
                        52.6: 14027.95,
                        52.7: 14096.43,
                        52.8: 14165.19,
                        52.9: 14234.24,
                        53.0: 14303.57,
                        53.1: 14373.2,
                        53.2: 14443.11,
                        53.3: 14513.32,
                        53.4: 14583.82,
                        53.5: 14654.61,
                        53.6: 14725.69,
                        53.7: 14797.07,
                        53.8: 14868.74,
                        53.9: 14940.72,
                        54.0: 15012.98,
                        54.1: 15085.55,
                        54.2: 15158.42,
                        54.3: 15231.59,
                        54.4: 15305.06,
                        54.5: 15378.83,
                        54.6: 15452.9,
                        54.7: 15527.28,
                        54.8: 15601.97,
                        54.9: 15676.96,
                        55.0: 15752.26,
                        55.1: 15827.87,
                        55.2: 15903.79,
                        55.3: 15980.02,
                        55.4: 16056.57,
                        55.5: 16133.42,
                        55.6: 16210.59,
                        55.7: 16288.07,
                        55.8: 16365.87,
                        55.9: 16443.99,
                        56.0: 16522.43,
                        56.1: 16601.18,
                        56.2: 16680.26,
                        56.3: 16759.65,
                        56.4: 16839.37,
                        56.5: 16919.41,
                        56.6: 16999.78,
                        56.7: 17080.47,
                        56.8: 17161.49,
                        56.9: 17242.84,
                        57.0: 17324.51,
                        57.1: 17406.52,
                        57.2: 17488.86,
                        57.3: 17571.52,
                        57.4: 17654.53,
                        57.5: 17737.86,
                        57.6: 17821.83,
                        57.7: 17905.54,
                        57.8: 17989.88,
                        57.9: 18074.57,
                        58.0: 18159.59,
                        58.1: 18244.95,
                        58.2: 18330.66,
                        58.3: 18416.71,
                        58.4: 18503.1,
                        58.5: 18589.84,
                        58.6: 18676.92,
                        58.7: 18764.35,
                        58.8: 18852.13,
                        58.9: 18940.26,
                        59.0: 19028.74,
                        59.1: 19117.58,
                        59.2: 19206.76,
                        59.3: 19296.3,
                        59.4: 19386.2,
                        59.5: 19476.45,
                        59.6: 19567.06,
                        59.7: 19658.03,
                        59.8: 19749.35,
                        59.9: 19841.04,
                        60.0: 19933.09,
                        60.1: 20025.51,
                        60.2: 20116.29,
                        60.3: 20211.43,
                        60.4: 20304.95,
                        60.5: 20393.82,
                        60.6: 20493.07,
                        60.7: 20587.69,
                        60.8: 20682.68,
                        60.9: 20778.05,
                        61.0: 20873.78,
                        61.1: 20969.9,
                        61.2: 21066.39,
                        61.3: 21163.25,
                        61.4: 21260.5,
                        61.5: 21358.12,
                        61.6: 21456.13,
                        61.7: 21554.51,
                        61.8: 21653.28,
                        61.9: 21752.44,
                        62.0: 21851.98,
                        62.1: 21951.91,
                        62.2: 22052.23,
                        62.3: 22152.93,
                        62.4: 22254.03,
                        62.5: 22355.52,
                        62.6: 22457.4,
                        62.7: 22559.68,
                        62.8: 22662.35,
                        62.9: 22765.42,
                        63.0: 22868.89,
                        63.1: 22972.75,
                        63.2: 23077.02,
                        63.3: 23181.69,
                        63.4: 23286.76,
                        63.5: 23392.23,
                        63.6: 23498.12,
                        63.7: 23604.4,
                        63.8: 23711.1,
                        63.9: 23818.2,
                        64.0: 23925.72,
                        64.1: 24033.65,
                        64.2: 24141.99,
                        64.3: 24250.74,
                        64.4: 24359.91,
                        64.5: 24469.5,
                        64.6: 24579.51,
                        64.7: 24689.93,
                        64.8: 24800.78,
                        64.9: 24912.04,
                        65.0: 25023.74,
                        65.1: 25135.85,
                        65.2: 25248.39,
                        65.3: 25361.36,
                        65.4: 25474.76,
                        65.5: 25588.58,
                        65.6: 25702.84,
                        65.7: 25817.53,
                        65.8: 25932.66,
                        65.9: 26048.22,
                        66.0: 26164.21,
                        66.1: 26280.64,
                        66.2: 26397.52,
                        66.3: 26514.83,
                        66.4: 26632.58,
                        66.5: 26750.78,
                        66.6: 26869.42,
                        66.7: 26988.51,
                        66.8: 27108.04,
                        66.9: 27228.02,
                        67.0: 27348.46,
                        67.1: 27469.34,
                        67.2: 27590.68,
                        67.3: 27712.46,
                        67.4: 27834.71,
                        67.5: 27957.41,
                        67.6: 28080.57,
                        67.7: 28204.19,
                        67.8: 28328.26,
                        67.9: 28452.80,
                        68.0: 28577.81,
                        68.1: 28703.28,
                        68.2: 28829.21,
                        68.3: 28955.61,
                        68.4: 29082.48,
                        68.5: 29209.82,
                        68.6: 29337.64,
                        68.7: 29465.92,
                        68.8: 29594.68,
                        68.9: 29723.92,
                        69.0: 29853.63,
                        69.1: 29983.82,
                        69.2: 30114.49,
                        69.3: 30245.65,
                        69.4: 30337.28,
                        69.5: 30509.40,
                        69.6: 30642.01,
                        69.7: 30775.10,
                        69.8: 30908.68,
                        69.9: 31042.75,
                        70.0: 31177.32,
                        70.1: 31312.37,
                        70.2: 31447.92,
                        70.3: 31583.97,
                        70.4: 31720.51,
                        70.5: 31857.55,
                        70.6: 31995.09,
                        70.7: 32133.14,
                        70.8: 32271.68,
                        70.9: 32410.73,
                        71.0: 32550.29,
                        71.1: 32690.35,
                        71.2: 32830.93,
                        71.3: 32972.01,
                        71.4: 33113.61,
                        71.5: 33255.71,
                        71.6: 33398.34,
                        71.7: 33541.48,
                        71.8: 33685.13,
                        71.9: 33829.31,
                        72.0: 33974.01,
                        72.1: 34119.23,
                        72.2: 34264.97,
                        72.3: 34411.24,
                        72.4: 34558.03,
                        72.5: 34705.36,
                        72.6: 34853.21,
                        72.7: 35001.59,
                        72.8: 35150.51,
                        72.9: 35299.96,
                        73.0: 35449.95,
                        73.1: 35600.47,
                        73.2: 35751.54,
                        73.3: 35903.14,
                        73.4: 36055.29,
                        73.5: 36207.98,
                        73.6: 36361.21,
                        73.7: 36514.99,
                        73.8: 36669.32,
                        73.9: 36824.20,
                        74.0: 36979.63,
                        74.1: 37135.61,
                        74.2: 37292.15,
                        74.3: 37449.24,
                        74.4: 37606.89,
                        74.5: 37765.10,
                        74.6: 37923.87,
                        74.7: 38083.21,
                        74.8: 38243.10,
                        74.9: 38403.56,
                        75.0: 38564.59,
                        75.1: 38726.19,
                        75.2: 38888.36,
                        75.3: 39051.10,
                        75.4: 39214.41,
                        75.5: 39378.30,
                        75.6: 39542.76,
                        75.7: 39707.80,
                        75.8: 39873.42,
                        75.9: 40039.63,
                        76.0: 40206.41,
                        76.1: 40373.78,
                        76.2: 40541.74,
                        76.3: 40710.28,
                        76.4: 40879.42,
                        76.5: 41049.14,
                        76.6: 41219.46,
                        76.7: 41390.37,
                        76.8: 41561.88,
                        76.9: 41733.99,
                        77.0: 41906.69,
                        77.1: 42080.00,
                        77.2: 42253.91,
                        77.3: 42428.42,
                        77.4: 42603.54,
                        77.5: 42779.27,
                        77.6: 42955.61,
                        77.7: 43132.55,
                        77.8: 43310.11,
                        77.9: 43488.29,
                        78.0: 43667.08,
                        78.1: 43846.48,
                        78.2: 44026.51,
                        78.3: 44207.16,
                        78.4: 44388.43,
                        78.5: 44570.33,
                        78.6: 44752.85,
                        78.7: 44936.00,
                        78.8: 45119.77,
                        78.9: 45304.18,
                        79.0: 45489.23,
                        79.1: 45674.91,
                        79.2: 45861.22,
                        79.3: 46048.17,
                        79.4: 46235.76,
                        79.5: 46424.00,
                        79.6: 46612.87,
                        79.7: 46802.39,
                        79.8: 46992.56,
                        79.9: 47183.38,
                        80.0: 47374.85,
                        80.1: 47566.79,
                        80.2: 47759.74,
                        80.3: 47953.17,
                        80.4: 48147.25,
                        80.5: 48342.00,
                        80.6: 48537.40,
                        80.7: 48733.47,
                        80.8: 48930.20,
                        80.9: 49127.60,
                    };
                    var weight1, weight2, times, area, period, coefficient, num, thick, temp, divide, p;
                    var weightdiff;
                    var wvt, wvtr;
                    function updateData() {
                        // 在update中 换算好单位
                        weight1 = Number($('#Weight1').val());
                        weight2 = Number($('#Weight2').val());
                        weightdiff = Math.abs(weight1 - weight2);
                        times = Number($('#Times').val());
                        area = Number($('#Area').val());
                        // cm^2  ->  m^2
                        area = area / 10000;
                        period = Number($('#Period').val());
                        // min->hour
                        period = period / 60;
                        coefficient = Number($('#Coefficient').val());

                        num = Number($('#Num').val());
                        thick = Number($('#Thick').val());
                        // um-> cm
                        thick = thick / 10000;
                        temp = Number($('#Temp').val());
                        if (temp < 0 || temp > 80.9) {
                            alert("输入温度超差!");
                            temp = 0;
                        }
                        temp = Number(temp.toFixed(1));
                        p = t2p[temp];
                        divide = Number($('#divide').val());
                        if (divide === 1) {
                            //0120 标定系数计算是除以系数
                            coefficient = 1 / coefficient;
                        }
                    }
                    function computeResult() {
                        updateData();
                        wvt = weightdiff * 24 / (area * period * times);
                        wvt = wvt * coefficient / num;
                        var result = "水蒸气透过率WVT的结果为：" + wvt.toExponential(4) + "  g/m2·24h<br/>";

                        wvtr = (1 / (10000 * 24 * 3600)) * (wvt * thick / p);

                        result = result + "水蒸气透过系数WVTR的结果为：" + wvtr.toExponential(4) + "  g.cm/cm2·s·Pa<br/>";

                        console.log(result);

                        $('#result').html(result);
                    }
                    $('#btnCompute').click(function () {
                        computeResult()
                    });


                    $('#btnDeviceW3030').click(function () {
                        $('#Times').val(2);
                        $('#Area').val(33);
                        $('#Period').val(90);
                        $('#Coefficient').val(0.56);
                        $('#Num').val(3);
                        $('#Thick').val(125);
                        $('#Temp').val(38);
                        $('#divide').val(0);
                    });


                    $('#btnDeviceW3031').click(function () {
                        $('#Times').val(2);
                        $('#Area').val(33);
                        $('#Period').val(90);
                        $('#Coefficient').val(0.54);
                        $('#Num').val(1);
                        $('#Thick').val(125);
                        $('#Temp').val(38);
                        $('#divide').val(0);
                    });
                    $('#btnDeviceW3060').click(function () {
                        $('#Times').val(2);
                        $('#Area').val(33);
                        $('#Period').val(90);
                        $('#Coefficient').val(0.56);
                        $('#Num').val(1);
                        $('#Thick').val(125);
                        $('#Temp').val(38);
                        $('#divide').val(0);
                    });
                    $('#btnDeviceW30120').click(function () {
                        $('#Times').val(2);
                        $('#Area').val(33);
                        $('#Period').val(90);
                        $('#Coefficient').val(1.65);
                        $('#Num').val(1);
                        $('#Thick').val(125);
                        $('#Temp').val(38);
                        $('#divide').val(1);
                    });
                    $('#WeightList').val([100.8888,101.1556,102.5264,104.0025].join("\n"));
                    $('#btnComputeList').click(function () {
                        var weightlist = $('#WeightList').val().split("\n");
                        var lsize = weightlist.length;
                        var numberlist =$.map(weightlist,function (n,i) {
                            return Number(n);
                        });


                        if(lsize<2)return;
                        var result = "p1-p2/p1:<br/>";
                        var reslist = $.map(numberlist,function (n,i) {
                            if(i===0)return;
                            return (Math.abs((n-numberlist[i-1])/numberlist[i-1])*100).toFixed(3);
                        });
                        result = result+ "[" + reslist.join("%,")+"%]<br/>";

                        result += "deltaList is:<br/>";
                        var deltalist = $.map(numberlist,function (n,i) {
                            if(i===0)return;
                            return Math.abs(n-numberlist[i-1]);
                        });
                        var deltalstrist = $.map(deltalist,function (n,i) {
                            return n.toFixed(4);
                        });
                        result = result+ "[" + deltalstrist.join(",")+"]<br/>";

                        result = result+ "Δ1-Δ2/Δ1:<br/>";

                        var resdeltalist = $.map(deltalist,function (n,i) {
                            if(i===0)return;
                            return (Math.abs((n-deltalist[i-1])/deltalist[i-1])*100).toFixed(3);
                        });
                        result = result+ "[" + resdeltalist.join("%,")+"%]<br/>";
                        $("#ListResult").empty();
                        $("#ListResult").append(result);
                    });


                </script>


            </div>
        </div>
    </div>
</div>
</body>
</html>
