<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layouts/base">
<head>
    <!--<script type="text/javascript" src="/ui/mosesadd/vcastr/flv.min.js"></script>-->
</head>
<body>
<div class="container" layout:fragment="content">

    <div>
        <br/>
        <ol class="breadcrumb">
            <li><a th:href="@{/}">首页</a></li>
            <li class="active">流媒体</li>
        </ol>
        <!-- breadcrumbs -->
        <h1 class="blog-post-title" th:text="${content.cmsVideoName}">BLOG POST TITLE HERE</h1>
    </div>
    <ul class="row clearfix testimonial-dotted list-unstyled">
        <li class="col-md-9">
            <h2> 视频: </h2>


            <cite th:text="'地址:'+${content.cmsVideoFilepath}"></cite>
            <div>
                <!--<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
                        codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="640" height="360">
                    <param name="movie" value="/ui/mosesadd/vcastr/flv.swf">
                    <param name="quality" value="high">
                    <param name="allowFullScreen" value="true" />
                    <param name="FlashVars" value="vcastr_file=/video/getVideo/2&IsAutoPlay=1" />
                    <param name="wmode" value="transparent" />
                    <embed src="/ui/mosesadd/vcastr/flv.swf" width="640" height="360"
                           allowfullscreen="true" quality="high"
                           pluginspage="http://www.macromedia.com/go/getflashplayer"
                           type="application/x-shockwave-flash"
                           flashvars="vcastr_file=/video/getVideo/2&IsAutoPlay=1" wmode="transparent">
                    </embed>
                </object>-->


                <object id="vcastr3" data="/ui/mosesadd/vcastr/vcastr3.swf" height="500" type="application/x-shockwave-flash" width="650">
                    <param name="movie" value="/ui/mosesadd/vcastr/vcastr3.swf"/>
                    <param name="allowFullScreen" value="true" />
                    <param name="FlashVars" th:value="'xml=/video/videoxml/'+${content.id}">
                    <!--<param name="FlashVars" th:value="'xml='+-->
                    <!--'{vcastr} {channel} {item}'+-->
							<!--'{source}/video/getVideo/'+${content.id}+'{/source}'+-->
							<!--'{duration}{/duration}{title}{/title}'+-->
						<!--'{/item} {/channel}'+-->
					<!--'{config} {/config}'+-->
					<!--'{plugIns}'+-->
						<!--'{logoPlugIn}'+-->
							<!--'{url}/ui/mosesadd/vcastr/logoPlugIn.swf{/url}'+-->
							<!--'{logoText}www.ruochi.com{/logoText}'+-->
							<!--'{logoTextAlpha}0.75{/logoTextAlpha}'+-->
							<!--'{logoTextFontSize}30{/logoTextFontSize}'+-->
							<!--'{logoTextLink}http://www.ruochigroup.com{/logoTextLink}'+-->
							<!--'{logoTextColor}0xffffff{/logoTextColor}'+-->
							<!--'{textMargin}20 20 auto auto{/textMargin}'+-->
						<!--'{/logoPlugIn}'+-->
					<!--'{/plugIns}'+-->
				<!--'{/vcastr}'-->
	<!--" />-->
                </object>
            </div>
        </li>
        <li class="col-md-3">
            <ul class="side-nav list-group margin-bottom-80">

                <!--<li class="list-group-item">-->
                <!--<a href="#" th:href="@{/news/list}+'?category='+${news?.category.id}">-->
                <!--<i class="fa fa-2x fa-history"></i>&nbsp;&nbsp;&nbsp;分类：<span th:text="${news.category.name}">category</span>-->
                <!--</a>-->
                <!--</li>-->
            </ul>
        </li>
    </ul>



</div>

</body>
</html>
