<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layouts/base">
<head>
    <!--<script type="text/javascript" src="/ui/mosesadd/vcastr/flv.min.js"></script>-->
</head>
<body>
<div class="container" layout:fragment="content">

    <div>
        <br/>
        <ol class="breadcrumb">
            <li><a th:href="@{/}">首页</a></li>
            <li class="active">流媒体</li>
        </ol>
        <!-- breadcrumbs -->
        <h1 class="blog-post-title" th:text="${content.cmsVideoName}">BLOG POST TITLE HERE</h1>
    </div>
    <ul class="row clearfix testimonial-dotted list-unstyled">
        <li class="col-md-12">
            <!--<h2> 视频: </h2>-->
            <cite th:text="'说明:'+${content.comment}"></cite>
            <div>
                <object id="vcastr3" data="/ui/mosesadd/vcastr/vcastr3.swf" height="680" type="application/x-shockwave-flash" width="800">
                    <param name="movie" value="/ui/mosesadd/vcastr/vcastr3.swf"/>
                    <param name="allowFullScreen" value="true" />
                    <param name="FlashVars" th:value="'xml=/video/videoxml/'+${content.id}">
                </object>
            </div>
        </li>
    </ul>



</div>

</body>
</html>
