<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/base">
<head>
    <!-- 配置文件 -->
    <script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/ueditor/ueditor.all.min.js"></script>


    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('editor');
        function doSubmit1() {
//            document.faqform.answer.value = 111
//            $('input[name=answer]:first').val(ue.getContent());
            return jQuery('form.validate-plugin').validate().form();
        }
    </script>
</head>
<body>
<div class="container" layout:fragment="content">
    <h1 th:text="${title}">FAQ 编辑界面</h1>
    <div class="faqs-form">
        <form th:action="@{/faqpost}" action="/login" id="faqform" name="faqform" method="POST"
              class="validate-plugin" data-success="Sent! Thank you!" data-toastr-position="top-right"
              th:object="${faq}">

            <fieldset>
                <!--title-->
                <input type="hidden" th:field="*{Id}" />
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                            <label>名称</label>
                            <div class="fancy-form">
                                <i class="fa fa-list-alt"></i>
                                <input type="text" th:field="*{title}"  class="form-control required"/>
                                <!-- tooltip - optional, bootstrap tooltip can be used instead -->
                                <span class="fancy-tooltip top-left">
                                <!-- positions: .top-left | .top-right -->
                                    <em>定义一个名称</em>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4 col-sm-4">
                            <label>分类 *</label>

                            <select th:field="*{category}" class="form-control pointer required">
                                <option th:each="type : ${Category_list}"
                                        th:value="${type.id}"
                                        th:text="${'category:' + type.name}">FAQ</option>
                            </select>

                        </div>
                        <div class="col-md-4 col-sm-4">
                            <label>来源部门 *</label>

                            <select th:field="*{department}" class="form-control pointer required">
                                <option th:each="type : ${Department_list}"
                                        th:value="${type.id}"
                                        th:text="${'department:' + type.departmentName}">售后</option>
                            </select>

                        </div>
                        <div class="col-md-4 col-sm-4">
                            <label>设备 *</label>

                            <select th:field="*{devices}" class="form-control pointer required">
                                <option th:each="type : ${Devices_list}"
                                        th:value="${type.id}"
                                        th:text="${'devices:' + type.devicename}">W3/230</option>
                            </select>

                        </div>
                    </div>
                </div>




                <div class="row">
                    <div class="form-group">

                        <div class="col-md-6 col-sm-6">
                            <label>提问时间 *</label>
                            <input type="text" th:field="*{questionDate}"
                                   class="form-control datepicker required" data-format="yyyy-mm-dd" data-lang="en"
                                   data-RTL="false"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                            <label>问题 *</label>
                            <textarea th:field="*{question}"  class="summernote form-control required" data-height="200" data-lang="en-US"></textarea>
                        </div>
                    </div>
                </div>

                <!--<input type="hidden" th:field="*{answer}" />-->

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                            <label>答复 *</label>
                            <textarea id="editor" type="text/plain" style="height:500px;" th:field="*{answer}"></textarea>
                        </div>
                    </div>
                </div>


            </fieldset>

            <div class="row">
                <div class="col-md-12">
                    <button type="submit" onClick="return doSubmit1();" class="btn btn-3d btn-teal btn-xlg btn-block margin-top-30">
                        SEND APPLICATION
                        <span class="block font-lato">We'll get back to you within 48 hours</span>
                    </button>
                </div>
            </div>




            <div class="rowSubmit">
                <a onclick="document.getElementById('loginForm').reset(); return false" href="#"
                   class="link-reset btn btn-middle btn-gray"><span>清空重填</span></a>
                    <span class="btn btn-send"><input type="submit" id="submit" value="SUBMIT "
                                                      onClick="return doSubmit1('dd');"/></span>
            </div>
        </form>

    </div>


    <div></div>

</div>

</body>
</html>
