<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layouts/base">

<head>
    <meta name="keywords" content="HTML5,CSS3,Template"/>
    <meta name="description" content=""/>
</head>
<body class="smoothscroll enable-animation">

<div layout:fragment="content">
    <!-- WELCOME -->
    <section>
        <div class="container">

            <div class="row">

                <div class="col-sm-6">
                    <header class="margin-bottom-40">
                        <h1 class="weight-300">Welcome to Smarty</h1>
                        <h2 class="weight-300 letter-spacing-1 size-13"><span>THE MOST COMPLETE TEMPLATE EVER</span>
                        </h2>
                    </header>

                </div>


            </div>
        </div>
    </section>
    <!-- /WELCOME -->


</div>



</body>
</html>