<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="layouts/base">

<head>
    <meta name="keywords" content="HTML5,CSS3,Template"/>
    <meta name="description" content=""/>
    <!--<link href="/ui/smarty/plugins/slider.nivo/nivo-slider.css" rel="stylesheet" type="text/css"/>-->
    <!--<script type="text/javascript" src="/ui/smarty/plugins/slider.nivo/jquery.nivo.slider.pack.js"></script>-->
    <!--<script type="text/javascript" src="/ui/smarty/js/view/demo.nivo_slider.js"></script>-->
</head>
<body class="smoothscroll enable-animation indexbg">

<div layout:fragment="content">
    <!-- WELCOME -->
    <section>
        <div class="container">

            <div class="row">
                <header class="margin-bottom-30">
                    <h1 class="weight-300"><strong>欢迎使用支持系统</strong></h1>
                    <h2 class="weight-300 letter-spacing-1 size-13"><span>及时、准确、专业的提供所需的支持信息</span>
                    </h2>
                </header>
                <div class="col-sm-5">


                    <div class="row">
                        <div class="col-md-4 col-xs-6 margin-bottom-10">
                            <div class="text-center">
                                <i class="ico-light ico-lg ico-rounded ico-hover et-circle-compass"></i>
                                <h4>方便</h4>
                                <p>整合实际工作中经常碰到的问题，实现自助式问题解决.</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-xs-6 margin-bottom-10">
                            <div class="text-center">
                                <i class="ico-light ico-lg ico-rounded ico-hover et-piechart"></i>
                                <h4>专业</h4>
                                <p>提供问题的专业、准确的解答释疑.</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-xs-6 margin-bottom-10">
                            <div class="text-center">
                                <i class="ico-light ico-lg ico-rounded ico-hover et-trophy"></i>
                                <h4>功能强大</h4>
                                <p>基于SpringBoot架构的支持系统，多种前沿技术、良好的使用体验、完善的权限管理.</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-xs-6 margin-bottom-5">
                            <div class="text-center">
                                <i class="ico-light ico-lg ico-rounded ico-hover et-streetsign"></i>
                                <h4>分享</h4>
                                <p>我们愿意在保密框架内，尽我们最大的努力分享我们的知识，理念. </p>
                            </div>
                        </div>

                        <div class="col-md-4 col-xs-6 margin-bottom-5">
                            <div class="text-center">
                                <i class="ico-light ico-lg ico-rounded ico-hover et-heart"></i>
                                <h4>文化</h4>
                                <p>独具特色团队文化. </p>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-sm-7">

                    <div id="slidePics2">

                        <div class="owl-carousel buttons-autohide controlls-over nomargin"
                             data-plugin-options=
                                     '{
                                        "items": 1, "singleItem": true, "autoPlay": 100000, "navigation": true,
                                         "pagination": true, "transitionStyle":"fade", "progressBar":"true"
                                     }'
                        >
                            <div class="owl-slide" th:each="pic,iter:${sliderPicsList}">
                                <img class="img-responsive" th:src="${pic.url}" alt="">
                                <div class="ohwl--text" th:utext="${pic.comment}">
                                    国内技术支持组恭祝您<strong>鸡年大吉！</strong></div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </section>
    <!-- /WELCOME -->


    <!-- -->
    <section>
        <div class="container">

            <div class="row">

                <!-- toggle -->
                <div class="col-md-4 col-sm-4">
                    <h4>最新活动详情</h4>
                    <div id="NewActivity">

                    </div>


                </div>
                <!-- /toggle -->

                <!-- skills -->
                <div class="col-md-4 col-sm-4">
                    <div th:each="project,iter:${progressList}" th:remove="tag">
                        <h4 th:if="${iter.first}">项目进展</h4>
                        <div th:switch="${iter.index%4}" th:remove="tag">
                            <div th:case="0" class="progress progress-lg">
                                <div class="progress-bar progress-bar-warning progress-bar-striped active text-left"
                                     role="progressbar" style="width: 98%; min-width: 2em;"
                                     th:styleappend="${'width:'+project.projectProgress+'%'}">
                                    <span th:inline="text">[[${project.projectProgressName}]] / [[${project.projectProgress}]]%</span>
                                </div>
                            </div>
                            <div th:case="1" class="progress progress-lg">
                                <div class="progress-bar progress-bar-danger progress-bar-striped active text-left"
                                     role="progressbar" style="width: 98%; min-width: 2em;"
                                     th:styleappend="${'width:'+project.projectProgress+'%'}">
                                    <span th:inline="text">[[${project.projectProgressName}]] / [[${project.projectProgress}]]%</span>
                                </div>
                            </div>
                            <div th:case="2" class="progress progress-lg">
                                <div class="progress-bar progress-bar-primary progress-bar-striped active text-left"
                                     role="progressbar" style="width: 98%; min-width: 2em;"
                                     th:styleappend="${'width:'+project.projectProgress+'%'}">
                                    <span th:inline="text">[[${project.projectProgressName}]] / [[${project.projectProgress}]]%</span>
                                </div>
                            </div>
                            <div th:case="3" class="progress progress-lg">
                                <div class="progress-bar progress-bar-success progress-bar-striped active text-left"
                                     role="progressbar" style="width: 98%; min-width: 2em;"
                                     th:styleappend="${'width:'+project.projectProgress+'%'}">
                                    <span th:inline="text">[[${project.projectProgressName}]] / [[${project.projectProgress}]]%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<div class="progress progress-lg">-->
                    <!--<div class="progress-bar progress-bar-primary progress-bar-striped active text-left"-->
                    <!--role="progressbar" aria-valuenow="60"-->
                    <!--aria-valuemin="0" aria-valuemax="100" style="width: 99%; min-width: 2em;">-->
                    <!--<span>其他 / 99%</span>-->
                    <!--</div>-->
                    <!--</div>-->

                </div>
                <!-- /skills -->

                <!-- recent news -->
                <div class="col-md-4 col-sm-4">
                    <h4>最近新闻</h4>

                        <div class="row tab-post" th:each="news,iter:${newsPageList}"><!-- post -->
                            <div class="col-md-10 col-sm-10 col-xs-9">
                                <a th:href="@{/news/show/{id}(id=${news.id})}" th:utext="${news.fullTitle}"
                                   class="tab-post-link"></a>
                                <small th:text="${#dates.format(news.showDate, 'yyyy-MM-dd')}">2017 03 06</small>
                            </div>
                        </div><!-- /post -->


                </div>
                <!-- /recent news -->

            </div>

        </div>
    </section>
    <!-- / -->


    <!-- BUTTON CALLOUT -->
    <div>
        <div>
            <span class="size-20" style="font-weight: bold;padding-bottom: 20px">当前在线：</span>

            <span id="OnlineUsers" class="row">

            </span>
        </div>
        <!-- Circle Countdown -->
        <hr>
        <span>今年结束前还有</span>
        <div class="countdown bordered-squared theme-style" data-from="December 31, 2019 23:59:59"><!-- Example Date From: December 31, 2018 15:03:26 --></div>


        <a href="#" rel="nofollow" target="_blank"
           class="">
				<span class="font-lato size-15">
					支持系统是否能满足您的需求？
					<strong>请您提出您宝贵的意见，谢谢 &raquo;</strong>
                    <span th:text="${T(java.lang.Math).random() * 100.0 }"></span>
				</span>
        </a>
        <br/>
    </div>


    <!-- /BUTTON CALLOUT -->
    <script language="JavaScript">
        //活动情况
        var c = Math.floor(Math.random() * 10) + 1;
        $("body").css('background-image', 'url(/images/backgrounds/' + c + '.jpg)');

        $("#NewActivity").load("/activity/last10", function (response, status) {
            if (status == "success") {
                $("#NewActivity").html("<ul class='list-unstyled'></ul>");
                var jsonarray = $.parseJSON(response);
//                                alert(jsonarray.length);
//                                alert(jsonarray[2]);
                $.each(jsonarray, function (index, value) {
                    var item_text = "<i class='fa fa-check text-success'></i>";
                    item_text += value.username;
                    item_text += " " + value.operation + " ";
                    item_text += "<a href='" + value.url + "'>" + value.title + "</a> ";
                    $('<li></li>').html(item_text).appendTo("#NewActivity ul");
                });
//                                $(response).each(function(){
//                                    var item_text = $(this).text();
//                                    $('<li></li>').html(item_text).appendTo('ol');
//                                });
            }
        });

        $("#OnlineUsers").load("/online", function (response, status) {

            if (status == "success") {
                var jsonarray = $.parseJSON(response);
                $("#OnlineUsers").html("<ul class='list-inline'></ul>");
                $.each(jsonarray, function (index, value) {
                    var item_text = "<img src='" + value.avatar + "' height='24' width='24' />";
                    item_text = item_text + "<a class='font-lato size-20 weight-600' href='/msg/new?username=" + value.username + "'>";
                    item_text += (value.usernameCN == '' ? value.username : value.usernameCN);
                    item_text += "</a>";
                    $('<li class="col-md-2 col-sm-2 col-xs-4"></li>').html(item_text).appendTo("#OnlineUsers ul");
                });
            }
        });


    </script>

</div>


</body>
</html>