<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layouts/base">

<head>
    <meta name="keywords" content="HTML5,CSS3,Template"/>
    <meta name="description" content=""/>
</head>
<body class="smoothscroll enable-animation">

<div layout:fragment="content">
    <!-- WELCOME -->
    <section>
        <div class="container">

            <div class="row">

                <div class="col-sm-6">
                    <header class="margin-bottom-40">
                        <h1 class="weight-300">欢迎使用支持系统</h1>
                        <h2 class="weight-300 letter-spacing-1 size-13"><span>及时提供所需的各种支持信息</span>
                        </h2>
                    </header>

                    <p>基于SpringBoot架构的支持系统，采用了多种前沿技术，提供良好的使用体验</p>

                    <p>整合实际工作中经常碰到的问题，实现自助式问题解决</p>

                    <p>完善的权限管理功能</p>
                    <hr/>


                </div>


            </div>
        </div>
    </section>
    <!-- /WELCOME -->


    <!-- -->
    <section>
        <div class="container">

            <div class="row">

                <!-- toggle -->
                <div class="col-md-4 col-sm-4">
                    <div class="toggle toggle-accordion toggle-transparent toggle-bordered-full">

                        <div class="toggle active">
                            <label>专业</label>
                            <div class="toggle-content">
                                <p>提供问题的专业、准确的解答释疑</p>
                            </div>
                        </div>

                        <div class="toggle">
                            <label>分享</label>
                            <div class="toggle-content">
                                <p>我们愿意在保密框架内，尽我们最大的努力分享我们的知识，理念</p>
                            </div>
                        </div>

                        <div class="toggle">
                            <label>文化</label>
                            <div class="toggle-content">
                                <p>特色团队文化</p>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /toggle -->

                <!-- skills -->
                <div class="col-md-4 col-sm-4">
                    <h4>项目进展</h4>

                    <label>
                        <span class="pull-right">60%</span>
                        支持系统
                    </label>
                    <div class="progress progress-xxs">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width: 60%; min-width: 2em;"></div>
                    </div>

                    <label>
                        <span class="pull-right">88%</span>
                        培训设计
                    </label>
                    <div class="progress progress-xxs">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width: 88%; min-width: 2em;"></div>
                    </div>

                    <label>
                        <span class="pull-right">98%</span>
                        支持满意
                    </label>
                    <div class="progress progress-xxs">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width: 98%; min-width: 2em;"></div>
                    </div>

                    <label>
                        <span class="pull-right">77%</span>
                        技术开发
                    </label>
                    <div class="progress progress-xxs">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width: 77%; min-width: 2em;"></div>
                    </div>

                    <label>
                        <span class="pull-right">99%</span>
                        OTHER
                    </label>
                    <div class="progress progress-xxs">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width: 99%; min-width: 2em;"></div>
                    </div>

                </div>
                <!-- /skills -->

                <!-- recent news -->
                <div class="col-md-4 col-sm-4">
                    <h4>Recent News</h4>

                    <div class="row tab-post"><!-- post -->
                        <div class="col-md-2 col-sm-2 col-xs-3">
                            <a href="blog-sidebar-left.html">
                                <!--<img src="/ui/smarty/images/demo/people/300x300/1-min.jpg" width="50" alt=""/>-->
                            </a>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-9">
                            <a href="blog-sidebar-left.html" class="tab-post-link">搭建支持系统原型</a>
                            <small>2016 04 10</small>
                        </div>
                    </div><!-- /post -->

                    <div class="row tab-post"><!-- post -->
                        <div class="col-md-2 col-sm-2 col-xs-3">
                            <a href="blog-sidebar-left.html">
                                <!--<img src="/ui/smarty/images/demo/people/300x300/2-min.jpg" width="50" alt=""/>-->
                            </a>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-9">
                            <a href="blog-sidebar-left.html" class="tab-post-link">支持系统重新上线开发</a>
                            <small>2016 06 21</small>
                        </div>
                    </div><!-- /post -->

                    <div class="row tab-post"><!-- post -->
                        <div class="col-md-2 col-sm-2 col-xs-3">
                            <a href="blog-sidebar-left.html">
                                <!--<img src="/ui/smarty/images/demo/people/300x300/3-min.jpg" width="50" alt=""/>-->
                            </a>
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-9">
                            <a href="blog-sidebar-left.html" class="tab-post-link">支持系统正式立项</a>
                            <small>2016 07 27</small>
                        </div>
                    </div><!-- /post -->

                </div>
                <!-- /recent news -->

            </div>

        </div>
    </section>
    <!-- / -->


    <!-- BUTTON CALLOUT -->
    <a href="#purchase" rel="nofollow" target="_blank"
       class="btn btn-xlg btn-default size-20 fullwidth nomargin noradius padding-40 noborder-left noborder-right noborder-bottom">
				<span class="font-lato size-30">
					Did Smarty convinced you?
					<strong>GOOD &raquo;</strong>
				</span>
    </a>
    <!-- /BUTTON CALLOUT -->
</div>



</body>
</html>