<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/base">
<head>
    <title>Messages : View</title>
</head>
<body>
<h1 layout:fragment="header">Messages : Create</h1>
<div layout:fragment="content" class="container">
    <br/>
<ol>
    <span th:if="${searchResults.isEmpty()}"><strong>未查询到相关信息</strong></span>
    <li th:each="faq:${searchResults}">
        <b><span th:utext="${faq.title}"></span></b> -
        <span th:utext="${faq.question}"></span> -
        <span th:utext="${faq.answer}"></span>
    </li>
</ol>
</div>
</body>
</html>