<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tr class="tr3">
    <td class="icon tar" width="30"><a href="read.php?tid=1793505" target="_blank">
        <img src="images/wind/file/headtopic_1.gif" align="absmiddle" alt="置顶帖" title="置顶帖"/>
    </a>
    </td>
    <td class="subject" id="td_1793505">

        <a href="thread.php?fid=137&type=526" class="mr5 s4 view f14">[数码]</a>
        <a href="read.php?tid=1793505" name="readlink" id="a_ajax_1793505" class="subject_t f14">值！电子狗59！毛尖绿茶6！冲锋衣49！哈尔斯保温杯19！户外帐篷3
            ..</a>
        <img src="images/wind/file/img.gif" alt="img" align="absmiddle">&nbsp;
        <span class="s2 w">[置顶卡]</span>
        <span class="s2 w">[回帖奖励0]</span>
        <span class="w"> &nbsp;
            <img src="images/wind/file/multipage.gif" align="absmiddle" alt="pages">&nbsp;
            <span class="tpage">
                <a href="read.php?tid=1793505&page=2">2</a>
                <a href="read.php?tid=1793505&page=3">3</a>
                <a
                        href="read.php?tid=1793505&page=4">4</a>
                <a href="read.php?tid=1793505&page=5">5</a> .. <a
                    href="read.php?tid=1793505&page=11">11</a>
            </span>
        </span>
    </td>
    <td class="author">
        <a href="u.php?uid=1998552" class=" _cardshow"
           data-card-url="pw_ajax.php?action=smallcard&type=showcard&uid=1998552" target="_blank"
           data-card-key="aasoft">aasoft</a>
        <p style="color:#ff5500;">2016-08-29</p></td>
    <td class="num" width="60"><em>109</em>/677</td>
    <td class="author"><a href="u.php?username=xiaofei1616" target="_blank" class=" _cardshow"
                          data-card-url="pw_ajax.php?action=smallcard&type=showcard&username=xiaofei1616"
                          data-card-key="xiaofei1616">xiaofei1616</a>
        <p><a href="read.php?tid=1793505&page=e#a" title="2016-08-29 13:44">10分钟前</a></p></td>
</tr>

</body>
</html>